
@media (min-width: 1400px) and (max-width: 1500px) {

	/*============ Homepage style start ============*/

	.home_header .main_header .logo { height: 140px; width: 140px; }
	
	.home_banner { margin: -36px 0 0 0; }
	.home_bnr_wrapper .bnr_text { left: 100px; max-width: 740px; }
	h1 { font-size: 100px; }
	.home_bnr_wrapper .rate_section { right: 140px; }
	
	.maintain_wrap .maintain_card .block_inner { padding: 40px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap { height: 100px; width: 100px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { max-width: 40px; }
	.maintain_wrap .maintain_card .block_inner .title { font-size: 24px; }
	
	.start_renovation_section { margin: 100px 0; }
	
	.transformation_section { margin: 100px 0 0 0; }
	.transformation_section .container { max-width: 1110px; }

	.review_section { margin: 100px 0; }

	.footer_main .top_footer { padding-bottom: 100px; }

	/*============ Homepage style end ============*/

	.inner_banner .container-fluid { max-width: 1300px; }
	.container { max-width: 1110px; }
	h2 { font-size: 55px; }
	h3 { font-size: 37px; }
	
	/* ================================================================================= */
	/* Wrappen Page Start */
	/* ================================================================================= */
	.inner_banner_txt_wrap { min-height: 390px; }
	.wrappen_wrapper { padding: 52px 0 40px; }
	.tag_block .tag { font-size: 37px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 55px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 44px 0; }
	.inner_kitchen .row + .row { margin-top: 80px !important; }


	.difference_title_heading h2 { font-size: 37px; }
	.difference_sec { padding: 40px 0; }

	
	.start_renovation_secmain { padding: 40px 0; }


	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 34px 30px 30px 30px; }
	.review_slider .review_block .inner_review .content .title { font-size: 22px; margin-bottom: 30px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 52px; }
	/* ================================================================================= */
	/* Wrappen Page End */
	/* ================================================================================= */

	
	/* ================================================================================= */
	/* Renovatie Page Start */
	/* ================================================================================= */
	.how_we_work_sec_v2 .how_we_work_sec_title { padding-bottom: 50px; }
	/* ================================================================================= */
	/* Renovatie Page End */
	/* ================================================================================= */


	/* ================================================================================= */
	/* Meer dan wrappen Page Start */
	/* ================================================================================= */
	.we_offer_wrapper { padding: 20px 0 40px 0; }
	.we_offer_blk { padding: 80px 0 0 0; }
	.greenbox { padding: 40px 81px; }
	.looking_for_blk { padding: 80px 0 0 0; }
	.offer_form_wrap { padding: 80px 0 0 0; }
	/* ================================================================================= */
	/* Meer dan wrappen Page End */
	/* ================================================================================= */

	
}

@media (min-width: 1301px) and (max-width: 1399px) {

	/*============ Homepage style start ============*/

	.home_header .main_header .logo { height: 140px; width: 140px; }
	.main_header .logo { height: 90px; width: 90px; }
	
	.home_banner { margin: -36px 0 0 0; }
	.home_bnr_wrapper .bnr_text { left: 100px; max-width: 720px; }
	h1 { font-size: 100px; }
	.home_bnr_wrapper .rate_section { right: 100px; }
	
	.maintain_wrap .maintain_card .block_inner { padding: 40px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap { height: 100px; width: 100px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { max-width: 40px; }
	.maintain_wrap .maintain_card .block_inner .title { font-size: 24px; }
	
	.start_renovation_section { margin: 100px 0; }
	
	.transformation_section { margin: 100px 0 0 0; }
	.transformation_section .container { max-width: 1110px; }

	.review_section { margin: 100px 0; }

	.footer_main .top_footer { padding-bottom: 100px; }

	/*============ Homepage style end ============*/

	.inner_banner .container-fluid { max-width: 1300px; }
	.container { max-width: 1110px; }
	h2 { font-size: 55px; }
	h3 { font-size: 37px; }

	/* ================================================================================= */
	/* Wrappen Page Start */
	/* ================================================================================= */
	
	
	.inner_banner_txt_wrap { min-height: 390px; }
	.wrappen_wrapper { padding: 52px 0 40px; }
	.tag_block .tag { font-size: 37px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 55px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 44px 0; }
	.inner_kitchen .row + .row { margin-top: 80px !important; }


	.difference_title_heading h2 { font-size: 37px; }
	.difference_sec { padding: 40px 0; }

	
	.start_renovation_secmain { padding: 40px 0; }


	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 34px 30px 30px 30px; }
	.review_slider .review_block .inner_review .content .title { font-size: 22px; margin-bottom: 30px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 52px; }/* ================================================================================= */
	/* Wrappen Page End */
	/* ================================================================================= */

	/* ================================================================================= */
	/* Renovatie Page Start */
	/* ================================================================================= */
	.how_we_work_sec_v2 .how_we_work_sec_title { padding-bottom: 50px; }
	/* ================================================================================= */
	/* Renovatie Page End */
	/* ================================================================================= */
	

	/* ================================================================================= */
	/* Meer dan wrappen Page Start */
	/* ================================================================================= */
	.we_offer_wrapper { padding: 20px 0 40px 0; }
	.we_offer_blk { padding: 80px 0 0 0; }
	.we_offer_blk h3 { padding: 0 0 27px 0; }
	.greenbox { padding: 40px 81px; }
	.looking_for_blk { padding: 80px 0 0 0; }
	.offer_form_wrap { padding: 80px 0 0 0; }
	/* ================================================================================= */
	/* Meer dan wrappen Page End */
	/* ================================================================================= */
}

@media (min-width: 1200px) and (max-width: 1300px) {

	/*============ Homepage style start ============*/

	.home_header .main_header .logo { height: 130px; width: 130px; }
	.main_header .logo { height: 80px; width: 80px; }
	
	.home_banner { margin: -32px 0 0 0; }
	.home_bnr_wrapper .bnr_text { bottom: 60px; left: 90px; max-width: 700px; }
	h1 { font-size: 90px; }
	.home_bnr_wrapper .rate_section { right: 80px; }
	
	.maintain_wrap .maintain_card .block_inner { padding: 30px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap { height: 90px; width: 90px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { max-width: 40px; }
	.maintain_wrap .maintain_card .block_inner .title { font-size: 24px; }
	
	.start_renovation_section { margin: 90px 0; }
	
	.transformation_section { margin: 90px 0 0 0; }
	.transformation_section .container { max-width: 1110px; }

	.review_section { margin: 90px 0; }

	.footer_main .top_footer { padding-bottom: 90px; }

	/*============ Homepage style end ============*/

	/*============ Klantervaringen style start ============*/
	
	.experience_listing { padding: 70px 0 0 0; }

	/*============ Klantervaringen style end ============*/

	/*============ Onze werkwijze style start ============*/

	.onze_werkwijze_inner_wrapper { padding: 40px 0 100px 0; }

	/*============ Onze werkwijze style end ============*/

	/*============ Onze vernieuwers style start ============*/

	.onze_vernieuwers_wrapper .after_banner_sec { padding: 70px 0 30px 0; }
	.onze_vernieuwers_inner_wrapper { padding: 40px 0 100px 0; }

	/*============ Onze vernieuwers style end ============*/

	.inner_banner .container-fluid { max-width: 1280px; }
	.container { max-width: 1110px; }
	h2 { font-size: 45px; }
	h3 { font-size: 35px; }

	/* ================================================================================= */
	/* Wrappen Page Start */
	/* ================================================================================= */
	
	
	.inner_banner_txt_wrap { min-height: 360px; }
	.wrappen_wrapper { padding: 52px 0 40px; }
	.tag_block .tag { font-size: 33px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 55px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	.keuken_box .keuken_dtl h5 { font-size: 24px; }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 44px 0; }
	.inner_kitchen .row + .row { margin-top: 80px !important; }

	.difference_title_heading i { width: 79px; }
	.difference_title_heading h2 { font-size: 35px; }
	.difference_sec { padding: 40px 0; }
	.difference_slider_wrp { max-width: 850px; }
	.difference_blk .img { background-size: 850px 100%; }
	.swiper_difference_btn a { width: 35px; }

	.start_renovation_section { padding: 55px 0; }
	.start_renovation_secmain { padding: 40px 0; }


	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 34px 30px 30px 30px; }
	.review_slider .review_block .inner_review .content .title { font-size: 22px; margin-bottom: 30px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 52px; }
	/* ================================================================================= */
	/* Wrappen Page End */
	/* ================================================================================= */

	/* ================================================================================= */
	/* Renovatie Page Start */
	/* ================================================================================= */
	.how_we_work_sec_v2 .how_we_work_sec_title { padding-bottom: 44px; }
	/* ================================================================================= */
	/* Renovatie Page End */
	/* ================================================================================= */
	

	/* ================================================================================= */
	/* Meer dan wrappen Page Start */
	/* ================================================================================= */
	.we_offer_wrapper { padding: 20px 0 40px 0; }
	.we_offer_blk { padding: 80px 0 0 0; }
	.we_offer_blk h3 { padding: 0 0 27px 0; }
	.greenbox { padding: 40px 81px; }
	.looking_for_blk { padding: 80px 0 0 0; }
	.offer_form_wrap { padding: 80px 0 0 0; }
	/* ================================================================================= */
	/* Meer dan wrappen Page End */
	/* ================================================================================= */
}

@media (min-width: 992px) and (max-width: 1199px) {

	/*============ Homepage style start ============*/

	.home_header .main_header .logo { height: 110px; width: 110px; }
	.main_header .navi_wrapper .navigation li + li { margin-left: 26px; }
	.main_header .navi_wrapper .btnbox { margin-left: 26px; }
	.primary-btn { height: 44px; }
	.main_header .logo { height: 80px; width: 80px; }

	.home_banner { margin: -24px 0 0 0; }
	.home_bnr_wrapper .bnr_text { bottom: 50px; left: 80px; max-width: 660px; }
	h1 { font-size: 80px; }
	.home_bnr_wrapper .rate_section { top: 60px; right: 60px; }

	.maintain_wrap .maintain_card .block_inner { padding: 20px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap { height: 80px; width: 80px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { max-width: 40px; }
	.maintain_wrap .maintain_card .block_inner .title { font-size: 20px; margin-top: 18px; }
	.maintain_wrap .maintain_card .block_inner p { margin-top: 18px; font-size: 14px; }

	.start_renovation_section { margin: 80px 0; }

	.transformation_section { margin: 80px 0 0 0; }
	.transformation_section .container { max-width: 900px; }

	.review_section { margin: 80px 0; }

	.footer_main .top_footer { padding-bottom: 80px; }

	/*============ Homepage style end ============*/

	/*============ Klantervaringen style start ============*/
	
	.experience_listing { padding: 60px 0 0 0; }
	.customer_experience { padding: 44px 50px 40px 40px; }
	.customer_slider .swiper-slide { max-width: 246px; }
	.customer_slider .customer_img::after { padding: 50%; }

	.klantervaringen-renovation .renovation_box { font-size: 20px; }

	/*============ Klantervaringen style end ============*/

	/*============ Onze werkwijze style start ============*/

	.onze_werkwijze_wrapper .after_banner_sec { padding: 60px 0 30px 0; }
	.onze_werkwijze_wrapper .home_kitchen_inner_section { padding: 30px 0 40px 0; }
	.onze_inner_section { padding: 40px 0; }
	.onze_inner_section h3 { margin-bottom: 40px; }
	.onze_werkwijze_inner_wrapper { padding: 40px 0 80px 0; }

	/*============ Onze werkwijze style end ============*/

	/*============ Onze vernieuwers style start ============*/

	.onze_vernieuwers_wrapper .after_banner_sec { padding: 60px 0 20px 0; }
	.onze_vernieuwers_inner_wrapper { padding: 40px 0 80px 0; }

	/*============ Onze vernieuwers style end ============*/

	.inner_banner .container-fluid { max-width: 980px; }
	.container { max-width: 900px; }
	h2 { font-size: 45px; }
	h3 { font-size: 35px; }
	
	/* ================================================================================= */
	/* Wrappen Page Start */
	/* ================================================================================= */
	
	.inner_banner_txt_wrap { min-height: 300px; }
	.wrappen_wrapper { padding: 40px 0 40px; }
	.tag_block .tag { font-size: 28px; padding: 0 15px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 35px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	.keuken_box .keuken_dtl h5 { font-size: 22px; }

	.kitchen_blk_title .kitchen_blk_number { width: 63px;height: 45px; padding: 0 12px 0 12px; font-size: 21px; margin-right: 15px; }
	.kitchen_blk_title .heading_kitchen_blk { width: calc(100% - 63px - 15px); }
	.kitchen_blk_title { padding: 0 0 18px 0; }
	.inner_kitchen .left_part { max-width: 456px; }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 30px 0; }
	.inner_kitchen .row + .row { margin-top: 60px !important; }

	.difference_title_heading i { width: 79px; }
	.difference_title_heading h2 { font-size: 35px; }
	.difference_sec { padding: 40px 0; }
	.difference_slider_wrp { max-width: 790px; }
	.difference_blk .slider-button { width: 40px; height: 40px; left: calc(50% - 20px); top: calc(50% - 20px); }
	.difference_blk .img { background-size: 790px 100%; }
	.swiper_difference_btn a { width: 35px; }

	.start_renovation_section { padding: 55px 0; }
	.start_renovation_secmain { padding: 40px 0; }


	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 20px 20px 20px 20px; }
	.review_slider .review_block .inner_review .content .title { font-size: 20px; margin-bottom: 20px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 32px; }
	/* ================================================================================= */
	/* Wrappen Page End */
	/* ================================================================================= */

	/* ================================================================================= */
	/* Renovatie Page Start */
	/* ================================================================================= */
	.how_we_work_sec_v2 .how_we_work_sec_title { padding-bottom: 74px; }
	.how_we_work_sec_v2 .inner_kitchen .row + .row { margin-top: 61px !important; }
	.how_we_work_sec_v2 .row > [class="col-lg-5"] { width: 41.66666667%; }
	.how_we_work_sec_v2 .row > [class="col-lg-7"] { width: 58.33333333%; }
	/* ================================================================================= */
	/* Renovatie Page End */
	/* ================================================================================= */
	

	/* ================================================================================= */
	/* Meer dan wrappen Page Start */
	/* ================================================================================= */
	.we_offer_wrapper { padding: 20px 0 40px 0; }
	.we_offer_blk { padding: 80px 0 0 0; }
	.we_offer_blk h3 { padding: 0 0 27px 0; }
	.greenbox { padding: 40px 61px; }
	.looking_for_blk { padding: 80px 0 0 0; }
	.offer_form_wrap { padding: 80px 0 0 0; }
	/* ================================================================================= */
	/* Meer dan wrappen Page End */
	/* ================================================================================= */

	/* ================================================================================= */
	/* Afspraak Maken Page Start */
	/* ================================================================================= */
	.appointment_top_title h3 { padding: 0 0 20px 0; }
	.appointment_right { max-width: 365px; }
	.renovation_today_box { font-size: 21px; }
	.expect_blk h3 { padding: 0 0 39px; }
	/* ================================================================================= */
	/* Afspraak Maken Page End */
	/* ================================================================================= */

}

@media (min-width: 768px) and (max-width: 991px) {

	/*============ Homepage style start ============*/

	.home_header .main_header { margin: 16px 0; align-items: center; }
	.home_header .main_header .navi_wrapper { margin: 0; }
	.home_header .main_header .logo { width: 70px; height: 70px; }
	.main_header .navi_wrapper .btnbox { margin: 0; }
	.main_header .navi_wrapper .btnbox .primary-btn { height: 40px; padding: 0 20px; }
	.main_header .navi_wrapper .navigation { position: fixed; background: var(--white); left: 0; top: 0; bottom: 0; overflow-y: auto; width: 100%; max-width: calc(100% - 14px); z-index: 5; padding: 90px 20px 30px 20px; transform: translateX(-100%); transition: all ease-in-out 0.3s; border-radius: 0 24px 0 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.16); }
	.main_header .navi_wrapper .navigation.slide { transform: translateX(0); }
	.main_header .navi_wrapper .navigation { flex-direction: column; align-items: flex-start; }
	.main_header .navi_wrapper .navigation li + li { margin: 36px 0 0 0; }
	.main_header .navi_wrapper .navigation li a { font-size: 16px; font-weight: 600; }
	.main_header .logo { height: 70px; width: 70px; }

	.menu-btn { position: relative; display: flex; align-items: center; width: 22px; height: 16px; margin: 0 22px 0 34px; z-index: 111; }
	.menu-btn span { display: block; width: 100%; height: 2px; position: relative; background: var(--green100); border-radius: 2px; }
	.menu-btn span:before,
	.menu-btn span:after { content: ""; width: 100%; height: 2px; background: var(--green100); border-radius: 2px; position: absolute; left: 0; z-index: 1; -webkit-transition-duration: .3s, .3s; transition-duration: .3s, .3s; -webkit-transition-delay: .15s, 0s; transition-delay: .15s, 0s; }
	.menu-btn span:before { top: -6px; -webkit-transition-property: top, transform; transition-property: top, transform; }
	.menu-btn span:after { bottom: -6px; -webkit-transition-property: bottom, transform; transition-property: bottom, transform; }
	.menu-btn.active span { background: none !important;}
	.menu-btn.active span:before,
	.menu-btn.active span:after { -webkit-transition-delay: 0s, .15s; transition-delay: 0s, .2s; }
	.menu-btn.active span:before { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
	.menu-btn.active span:after { bottom: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	.menu-btn.active span:before, 
	.menu-btn.active span:after{ background: var(--green100); }

	.home_banner { margin: 0; }
	.home_bnr_wrapper .bnr_img { clip-path: none; border-radius: 0 30px; }
	.home_bnr_wrapper .bnr_img::after { padding: 25% 50%; }
	.home_bnr_wrapper .bnr_shape { display: none; }
	.home_bnr_wrapper .rate_section { display: none; }
	.home_bnr_wrapper .bnr_text { max-width: 600px; left: 24px; bottom: 24px; }
	h1 { font-size: 60px; }
	.tag_block .tag { border-radius: 0 14px; font-size: 22px; }
	
	.maintain_wrap .maintain_card .block_inner { padding: 20px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap { height: 100px; width: 100px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { max-width: 40px; }
	.maintain_wrap .maintain_card .block_inner .title { font-size: 24px; }

	.home_kitchen_section .inner_kitchen .right_wrapper_part .row [class^="col-"] + [class^="col-"] { padding: 0 12px !important; }
	.home_kitchen_section .start_renovation_section { margin: 80px 0; padding: 52px 50px; }
	
	.transformation_section { margin-top: 70px; }
	.transformation_inner .transformation_title_section { margin: 0 auto 40px auto; }
	.transformation_inner .btnbox { margin-top: 40px; }

	.review_section { margin: 80px 0; }
	
	.footer_main .top_footer { padding-bottom: 50px; flex-wrap: wrap; row-gap: 50px; }
	.top_footer .box_wrapper { width: 50%; }
	.footer_main .bottom_footer { align-items: flex-start; }

	/*============ Homepage style end ============*/

	/*============ Klantervaringen style start ============*/
	
	.experience_listing { padding: 60px 0 0 0; }
	.customer_experience { padding: 44px 50px 40px 40px; overflow: hidden; }
	.customer_slider { overflow: visible; }
	.customer_slider .swiper-slide { max-width: 100%; }
	.customer_slider .customer_img::after { padding: 30% 50%; }
	.customer_slider .swiper-wrapper { flex-wrap: nowrap; gap: 0; }
	.start_renovation_section { margin: 80px 0; }

	.klantervaringen-detail h3 { margin-bottom: 28px; }
	.klantervaringen-detail .rate_block { margin-bottom: 28px; }

	/*============ Klantervaringen style end ============*/

	/*============ Onze werkwijze style start ============*/

	.onze_werkwijze_wrapper .after_banner_sec { padding: 60px 0 30px 0; }
	.onze_werkwijze_wrapper .home_kitchen_inner_section { padding: 30px 0 40px 0; }
	.onze_werkwijze_wrapper .inner_kitchen .right_wrapper_part .row [class^="col-"] + [class^="col-"] { padding-top: 0 !important; }
	.onze_inner_section { padding: 40px 0; }
	.onze_inner_section h3 { margin-bottom: 40px; }
	.onze_werkwijze_inner_wrapper { padding: 40px 0 80px 0; }

	/*============ Onze werkwijze style end ============*/

	/*============ Onze vernieuwers style start ============*/

	.onze_vernieuwers_wrapper .after_banner_sec { padding: 50px 0 24px 0; }
	.onze_vernieuwers_wrapper .innovators_section .kitchen_block_wrapper .inner_kitchen .row + .row { margin-top: 64px !important; }
	.onze_vernieuwers_inner_wrapper { padding: 40px 0 80px 0; }

	/*============ Onze vernieuwers style end ============*/

	/* ================================================================================= */
	/* Wrappen Page Start */
	/* ================================================================================= */
	
	.inner_banner .container-fluid { max-width: 760px; }
	.container { max-width: 680px; }
	h2 { font-size: 40px; }
	h3 { font-size: 32px; }
	
	.inner_banner_txt_wrap { min-height: 300px; }
	.wrappen_wrapper { padding: 30px 0 30px; }
	.tag_block .tag { font-size: 28px; padding: 0 15px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 35px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	.keuken_box .keuken_dtl h5 { font-size: 22px; }

	.kitchen_blk_title .kitchen_blk_number { width: 63px;height: 45px; padding: 0 12px 0 12px; font-size: 21px; margin-right: 15px; }
	.kitchen_blk_title .heading_kitchen_blk { width: calc(100% - 63px - 15px); }
	.kitchen_blk_title { padding: 0 0 18px 0; }
	.inner_kitchen .left_part { max-width: 100%; }
	.inner_kitchen .right_part { width: 60%; }
	.inner_kitchen .row [class^="col-"] + [class^="col-"] { padding-top: 40px !important; }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 30px 0; }
	.inner_kitchen .row + .row { margin-top: 60px !important; }

	.difference_title_heading { -ms-flex-wrap: wrap; flex-wrap: wrap; }
	.difference_title_heading i { width: 79px; margin: 0 0 15px 0; }
	.difference_title_heading h2 { font-size: 32px; }
	.difference_sec { padding: 40px 0; }
	.difference_slider_wrp { max-width: 600px; }
	.difference_blk .slider-button { width: 40px; height: 40px; left: calc(50% - 20px); top: calc(50% - 20px); }
	.difference_blk .img { background-size: 600px 100%; }
	.swiper_difference_btn a { width: 35px; }
	.filling_tag { top: 20px; }
	.filling_tag.filling_yes { left: 20px; }
	.filling_tag.filling_no { right: 20px; }

	.start_renovation_section { padding: 55px 0; }
	.start_renovation_secmain { padding: 40px 0; }


	.review_inner_section h3 { margin-bottom: 30px; }
	.review_inner_section .btnbox { margin-top: 30px; }
	.review_slider .swiper-wrapper { width: 100%; margin: 0; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
	.review_slider .swiper-slide { padding: 0; }
	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 20px 20px 20px 20px; }
	.review_slider .review_block .inner_review .content .title { font-size: 20px; margin-bottom: 20px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 32px; }
	/* ================================================================================= */
	/* Wrappen Page End */
	/* ================================================================================= */

	/* ================================================================================= */
	/* Renovatie Page Start */
	/* ================================================================================= */
	.how_we_work_sec_v2 .how_we_work_sec_title { padding-bottom: 70px; }
	
	.how_we_work_sec_v2 .inner_kitchen .row + .row { margin-top: 61px !important; }
	.how_we_work_sec_v2 .row > [class="col-lg-5"] { width: 100%; }
	.how_we_work_sec_v2 .row > [class="col-lg-7"] { width: 100%; }
	/* ================================================================================= */
	/* Renovatie Page End */
	/* ================================================================================= */
	

	/* ================================================================================= */
	/* Meer dan wrappen Page Start */
	/* ================================================================================= */
	.we_offer_wrapper { padding: 20px 0 40px 0; }
	.we_offer_blk { padding: 80px 0 0 0; }
	.we_offer_blk h3 { padding: 0 0 27px 0; }
	.greenbox { padding: 40px 61px; }
	.looking_for_blk { padding: 80px 0 0 0; }
	.offer_form_wrap { padding: 80px 0 0 0; }
	/* ================================================================================= */
	/* Meer dan wrappen Page End */
	/* ================================================================================= */

	/* ================================================================================= */
	/* Afspraak Maken Page Start */
	/* ================================================================================= */
	.afspraak_maken_wrapper { padding: 37px 0 40px 0; }
	.appointment_sec_top { padding: 0 0 40px 0; }
	.appointment_top_title { padding: 0 0 31px 0; }
	.appointment_top_title h3 { padding: 0 0 20px 0; }
	.appointment_right { max-width: 365px; margin: 0 auto; padding: 40px 0 0 0; }
	.renovation_today_box { font-size: 21px; }
	.expect_sec { padding: 40px 0; }
	.expect_blk h3 { padding: 0 0 39px; }
	/* ================================================================================= */
	/* Afspraak Maken Page End */
	/* ================================================================================= */

}

@media (max-width: 767px) {

	/*============ Homepage style start ============*/

	.home_header .main_header { margin: 16px 0; align-items: center; }
	.container { padding: 0 16px; }
	.home_header .main_header .navi_wrapper { margin: 0; }
	.home_header .main_header .logo { width: 56px; height: 56px; }
	.main_header .navi_wrapper .btnbox { margin: 0; }
	.main_header .navi_wrapper .btnbox .primary-btn { height: 40px; padding: 0 20px; font-size: 13px; font-weight: 400; border-radius: 4px; }
	.main_header .navi_wrapper .navigation { position: fixed; background: var(--white); left: 0; top: 0; bottom: 0; overflow-y: auto; width: 100%; max-width: calc(100% - 14px); z-index: 5; padding: 90px 24px 30px 16px; transform: translateX(-100%); transition: all ease-in-out 0.3s; border-radius: 0 24px 0 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.16); }
	.main_header .navi_wrapper .navigation.slide { transform: translateX(0); }
	.main_header .navi_wrapper .navigation { flex-direction: column; align-items: flex-start; }
	.main_header .navi_wrapper .navigation li + li { margin: 36px 0 0 0; }
	.main_header .navi_wrapper .navigation li a { font-size: 16px; font-weight: 600; }
	.main_header .logo { height: 56px; width: 56px; }

	.menu-btn { position: relative; display: flex; align-items: center; width: 22px; height: 16px; margin: 0 22px 0 34px; z-index: 111; }
	.menu-btn span { display: block; width: 100%; height: 2px; position: relative; background: var(--green100); border-radius: 2px; }
	.menu-btn span:before,
	.menu-btn span:after { content: ""; width: 100%; height: 2px; background: var(--green100); border-radius: 2px; position: absolute; left: 0; z-index: 1; -webkit-transition-duration: .3s, .3s; transition-duration: .3s, .3s; -webkit-transition-delay: .15s, 0s; transition-delay: .15s, 0s; }
	.menu-btn span:before { top: -6px; -webkit-transition-property: top, transform; transition-property: top, transform; }
	.menu-btn span:after { bottom: -6px; -webkit-transition-property: bottom, transform; transition-property: bottom, transform; }
	.menu-btn.active span { background: none !important;}
	.menu-btn.active span:before,
	.menu-btn.active span:after { -webkit-transition-delay: 0s, .15s; transition-delay: 0s, .2s; }
	.menu-btn.active span:before { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
	.menu-btn.active span:after { bottom: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	.menu-btn.active span:before, 
	.menu-btn.active span:after{ background: var(--green100); }

	.home_banner { margin: 0; }
	.home_bnr_wrapper .bnr_img { clip-path: none; border-radius: 0 24px; }
	.home_bnr_wrapper .bnr_img::after { padding: 35.755% 50%; }
	.home_bnr_wrapper .bnr_shape { display: none; }
	.home_bnr_wrapper .rate_section { display: none; }
	.home_bnr_wrapper .bnr_text { max-width: 100%; left: 24px; bottom: 24px; }
	h1 { font-size: 40px; }
	.home_bnr_wrapper .bnr_text h1 { margin: 0 10px 17px 0;  }
	.home_bnr_wrapper .tag_block .tag { max-width: 100%; padding: 10px 20px; border-radius: 0 10px; font-size: 20px; }

	.maintain_wrap .row { row-gap: 52px; }
	.maintain_wrap .maintain_card .block_inner { padding: 0 20px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap { height: 96px; width: 96px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { max-width: 40px; }
	.maintain_wrap .maintain_card .block_inner .title { font-size: 22px; } 
	.maintain_wrap .maintain_card .block_inner p { margin-top: 17px; }

	.inner_kitchen .row { row-gap: 34px; }
	.inner_kitchen .right_part::after { padding: 35.755% 50%; }
	.inner_kitchen .row + .row { margin-top: 64px !important; }
	.inner_kitchen .right_wrapper_part .person_img .tag_block { display: none; }
	.inner_kitchen .right_wrapper_part .person_img .image { border-radius: 0 16px; }
	.inner_kitchen .right_wrapper_part .person_img .image::after { padding: 35.68% 50%; }
	.inner_kitchen .right_wrapper_part .row { margin: 0 -8px !important; }
	.inner_kitchen .right_wrapper_part .row>* { padding: 0 8px !important; }
	.home_kitchen_section .inner_kitchen .row [class^="col-"] + [class^="col-"] { padding: 0 8px !important; }

	.start_renovation_section { margin: 80px 0; padding: 52px 50px; }

	.transformation_section { margin-top: 64px; }
	.transformation_inner .transformation_title_section { margin: 0 auto 36px auto; text-align: start; }
	.transformation_inner .transformation_title_section p + p { margin-top: 22px; }
	.transformation_inner .transformation_title_section .report_bolck { justify-content: flex-start; }
	.transformation_inner .btnbox { margin-top: 36px; justify-content: flex-start; }
	
	.review_section { margin: 64px 0 80px 0; }

	.footer_main .top_footer { flex-direction: column; padding-bottom: 32px; border: none; }
	.top_footer .box_wrapper + .box_wrapper { margin-top: 50px; }
	.footer_main .bottom_footer { align-items: flex-start; }
	.footer_main .bottom_footer .ks_brand { margin-top: 8px; }
	.footer_main .bottom_footer .copy_privacy { flex-direction: column; align-items: flex-start; }
	.footer_main .bottom_footer .copy_privacy .copy + a { margin: 0; }
	.footer_main .bottom_footer .copy_privacy .copy + a::after { display: none; }

	/*============ Homepage style end ============*/

	/*============ Klantervaringen style start ============*/

	.klantervaringen_wrapper { padding: 10px 0 40px 0; }
	.experience_listing { padding: 56px 0 0 0; }
	.customer_experience { padding: 44px 40px 40px 40px; overflow: hidden; }
	.customer_slider { overflow: visible; }
	.customer_slider .swiper-slide { max-width: 100%; }
	.customer_slider .swiper-wrapper { flex-wrap: nowrap; gap: 0; }

	.klantervaringen-review-detail { padding: 52px 0 0 0; }
	.klantervaringen-detail h3 { margin-bottom: 24px; }
	.klantervaringen-detail .rate_block { margin-bottom: 24px; }
	.klantervaringen-renovation .renovation_box { padding: 36px 20px; }

	/*============ Klantervaringen style end ============*/

	/*============ Onze werkwijze style start ============*/

	.onze_werkwijze_wrapper .after_banner_sec { padding: 52px 0 26px 0; }
	.onze_werkwijze_wrapper .home_kitchen_inner_section { padding: 26px 0 40px 0; }
	.onze_werkwijze_wrapper .inner_kitchen .row [class^="col-"] + [class^="col-"] { padding-top: 0 !important; }
	.onze_inner_section { padding: 40px 0; }
	.onze_inner_section h3 { margin-bottom: 40px; }
	.onze_werkwijze_inner_wrapper { padding: 40px 0 80px 0; }

	/*============ Onze werkwijze style end ============*/

	/*============ Onze vernieuwers style start ============*/

	.onze_vernieuwers_wrapper .after_banner_sec { padding: 50px 0 24px 0; }
	.onze_vernieuwers_wrapper .inner_kitchen .row [class^="col-"] + [class^="col-"] { padding-top: 0 !important; }
	.onze_vernieuwers_wrapper .innovators_section .kitchen_block_wrapper .inner_kitchen .row + .row { margin-top: 64px !important; }
	.onze_vernieuwers_inner_wrapper { padding: 24px 0 64px 0; }

	/*============ Onze vernieuwers style end ============*/

	.inner_banner .container-fluid { max-width: 760px; }
	.container { max-width: 680px; }
	h2 { font-size: 34px; }
	h3 { font-size: 28px; }
	
	/* ================================================================================= */
	/* Wrappen Page Start */
	/* ================================================================================= */
	
	.inner_banner_txt_wrap { min-height: 256px; }
	.inner_banner_txt_wrap .container { padding: 0 24px; }
	.wrappen_wrapper { padding: 9px 0 40px; }
	.tag_block .tag { font-size: 20px; padding: 0 15px; }
	.inner_banner_txt_inner .tag_block .tag { padding: 11px 20px; }
	.tag_block .tag { max-width: 240px; line-height: 1.4; }
	.inner_banner_txt_inner { padding: 24px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 56px 0 0 0; }
	.keuken_box { padding: 32px 31px 34px; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: center; text-align: center; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 27px 0 0 0; width: 100%; }
	.keuken_box .keuken_dtl h5 { font-size: 22px; padding: 0 0 17px 0; }

	.kitchen_blk_title .kitchen_blk_number { height: 53px; padding: 0 12px 0 12px; font-size: 26px; margin: 0 0 18px 0; }
	.kitchen_blk_title .heading_kitchen_blk { width: 100%; }
	.kitchen_blk_title .heading_kitchen_blk h5 { font-size: 22px; }
	.kitchen_blk_title { padding: 0 0 25px 0; }
	.inner_kitchen .left_part { max-width: 100%; }
	.inner_kitchen .right_part { width: 100%; }
	.inner_kitchen .right_part::after { padding: 37.102% 50%; }
	.inner_kitchen .row [class^="col-"] + [class^="col-"] { padding-top: 34px !important; }
	.inner_kitchen .row + .row { margin-top: 64px !important; }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 28px 0; max-width: 100%; }

	.difference_title_heading { -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 25px; }
	.difference_title_heading i { width: 69px; margin: 0 0 21px 0; }
	.difference_title { text-align: left; padding-bottom: 30px; }
	.difference_title_heading h2 { font-size: 28px; }
	.difference_sec { padding: 40px 0; }
	.difference_slider_wrp { max-width: 358px; }
	.difference_blk .slider-button { width: 38px; height: 38px; left: calc(50% - 19px); top: calc(50% - 19px); }
	.difference_blk .img { background-size: 358px 100%; }
	.difference_blk:after { padding: 48.045% 50%; }
	.swiper_difference_btn a { width: 35px; }
	.filling_tag { top: 24px; font-size: 13px; padding: 6px 12px; }
	.filling_tag.filling_yes { left: 24px; }
	.filling_tag.filling_no { right: 24px; }

	.start_renovation_section { padding: 52px 45px 69px; }
	.start_renovation_secmain { padding: 40px 0; }


	.review_inner_section h3 { margin-bottom: 25px; }
	.review_inner_section .btnbox { margin-top: 30px; justify-content: flex-start; margin-top: 25px; }
	.review_slider .swiper-wrapper { width: 100%; margin: 0; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
	.review_slider .swiper-slide { padding: 0; }
	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 44px 40px 40px 40px; }
	/* .review_slider .review_block .inner_review .content .title { font-size: 20px; margin-bottom: 20px; } */
	.review_slider .review_block .inner_review .content { margin-bottom: 40px; }
	.review_slider.swiper { max-width: 320px; overflow: visible; margin-left: 0; }
	/* ================================================================================= */
	/* Wrappen Page End */
	/* ================================================================================= */

	/* ================================================================================= */
	/* Renovatie Page Start */
	/* ================================================================================= */
	.renovate_wrapper { padding-top: 11px; }
	.how_we_work_sec_v2 .how_we_work_sec_title { padding-bottom: 64px; }
	
	.how_we_work_sec_v2 .inner_kitchen .row + .row { margin-top: 64px !important; }
	.how_we_work_sec_v2 .row > [class="col-lg-5"] { width: 100%; }
	.how_we_work_sec_v2 .row > [class="col-lg-7"] { width: 100%; }
	.how_we_work_sec_v2 .inner_kitchen .right_part::after { padding: 37.102% 50%; }
	.how_we_work_sec_v2 .kitchen_blk_title { padding-bottom: 25px; }
	.renovate_wrapper .review_section { padding: 40px 0; }
	/* ================================================================================= */
	/* Renovatie Page End */
	/* ================================================================================= */
	

	/* ================================================================================= */
	/* Meer dan wrappen Page Start */
	/* ================================================================================= */
	.we_offer_wrapper { padding: 23px 0 40px 0; }
	.we_offer_blk { padding: 80px 0 0 0; }
	.we_offer_blk h3 { padding: 0 0 25px 0; }
	.greenbox { padding: 40px 40px; }
	.looking_for_blk { padding: 80px 0 0 0; }
	.looking_for_blk h3 { padding: 0 0 25px 0; }
	.offer_form_wrap { padding: 82px 0 0 0; }
	.offer_form_wrap h3 { padding: 0 0 25px 0; }
	.offer_form_wrap > p br { display: none; }
	/* ================================================================================= */
	/* Meer dan wrappen Page End */
	/* ================================================================================= */
	
	/* ================================================================================= */
	/* Afspraak Maken Page Start */
	/* ================================================================================= */
	.afspraak_maken_wrapper { padding: 40px 0 40px 0; }
	.appointment_sec_top { padding: 0 0 40px 0; }
	.appointment_top_title { padding: 0 0 40px 0; }
	/* .appointment_form { padding: 0 0 40px 0; } */
	.appointment_top_title h3 { padding: 0 0 24px 0; font-size: 34px; }
	.appointment_right { max-width: 365px; margin: 0 auto; padding: 40px 0 0 0; }
	.renovation_today_box { font-size: 21px; }
	.expect_sec { padding: 40px 0; }
	.expect_blk h3 { padding: 0 0 43px; }
	/* ================================================================================= */
	/* Afspraak Maken Page End */
	/* ================================================================================= */

}