
@media (min-width: 1400px) and (max-width: 1500px) {
	.inner_banner .container-fluid { max-width: 1300px; }
	.container { max-width: 1110px; }
	h2 { font-size: 55px; }
	h3 { font-size: 37px; }
	
	.inner_banner_txt_wrap { min-height: 390px; }
	.wrappen_wrapper { padding: 52px 0 40px; }
	.tag_block .tag { font-size: 37px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 55px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 44px 0; }
	.review_slider .swiper-slide { max-width: 346px; }
	.inner_kitchen .row + .row { margin-top: 80px !important; }


	.difference_title_heading h2 { font-size: 37px; }
	.difference_sec { padding: 40px 0; }

	
	.start_renovation_secmain { padding: 40px 0; }


	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 34px 30px 30px 30px; }
	.review_slider .review_block .inner_review .content .title { font-size: 22px; margin-bottom: 30px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 52px; }
}

@media (min-width: 1301px) and (max-width: 1399px) {
	.inner_banner .container-fluid { max-width: 1300px; }
	.container { max-width: 1110px; }
	h2 { font-size: 55px; }
	h3 { font-size: 37px; }
	
	.inner_banner_txt_wrap { min-height: 390px; }
	.wrappen_wrapper { padding: 52px 0 40px; }
	.tag_block .tag { font-size: 37px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 55px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 44px 0; }
	.review_slider .swiper-slide { max-width: 346px; }
	.inner_kitchen .row + .row { margin-top: 80px !important; }


	.difference_title_heading h2 { font-size: 37px; }
	.difference_sec { padding: 40px 0; }

	
	.start_renovation_secmain { padding: 40px 0; }


	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 34px 30px 30px 30px; }
	.review_slider .review_block .inner_review .content .title { font-size: 22px; margin-bottom: 30px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 52px; }
}

@media (min-width: 1200px) and (max-width: 1300px) {
	.inner_banner .container-fluid { max-width: 1280px; }
	.container { max-width: 1110px; }
	h2 { font-size: 45px; }
	h3 { font-size: 35px; }
	
	.inner_banner_txt_wrap { min-height: 360px; }
	.wrappen_wrapper { padding: 52px 0 40px; }
	.tag_block .tag { font-size: 33px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 55px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	.keuken_box .keuken_dtl h5 { font-size: 24px; }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 44px 0; }
	.review_slider .swiper-slide { max-width: 346px; }
	.inner_kitchen .row + .row { margin-top: 80px !important; }

	.difference_title_heading i { width: 79px; }
	.difference_title_heading h2 { font-size: 35px; }
	.difference_sec { padding: 40px 0; }
	.difference_slider_wrp { max-width: 850px; }
	.difference_blk .img { background-size: 850px 100%; }
	.swiper_difference_btn a { width: 35px; }

	.start_renovation_section { padding: 55px 0; }
	.start_renovation_secmain { padding: 40px 0; }


	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 34px 30px 30px 30px; }
	.review_slider .review_block .inner_review .content .title { font-size: 22px; margin-bottom: 30px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 52px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.inner_banner .container-fluid { max-width: 980px; }
	.container { max-width: 900px; }
	h2 { font-size: 45px; }
	h3 { font-size: 35px; }
	
	.inner_banner_txt_wrap { min-height: 300px; }
	.wrappen_wrapper { padding: 52px 0 40px; }
	.tag_block .tag { font-size: 28px; padding: 0 15px; }
	.inner_banner_txt_inner { padding: 52px 0; }

	.after_banner_sec { padding: 40px 0; }
	.after_banner_inner h2 { padding: 0 0 24px 0; }

	.listing_keuken { padding: 35px 0 0 0; }
	.keuken_box { padding: 22px 32px 22px 22px; }
	.keuken_box .keuken_icon { width: 80px; }
	.keuken_box .keuken_icon i { height: 80px; }
	.keuken_box .keuken_icon i img { max-width: 32px; max-height: 34px; }
	.keuken_box .keuken_dtl { padding: 0 0 0 22px; width: calc(100% - 80px); }
	.keuken_box .keuken_dtl h5 { font-size: 22px; }

	.kitchen_blk_title .kitchen_blk_number { width: 63px;height: 45px; padding: 0 12px 0 12px; font-size: 21px; margin-right: 15px; }
	.kitchen_blk_title .heading_kitchen_blk { width: calc(100% - 63px - 15px); }
	.kitchen_blk_title { padding: 0 0 18px 0; }
	.inner_kitchen .left_part { max-width: 456px; }
	
	.how_we_work_sec { padding: 40px 0; }
	.how_we_work_sec_title { padding: 0 0 30px 0; }
	.review_slider .swiper-slide { max-width: 346px; }
	.inner_kitchen .row + .row { margin-top: 60px !important; }

	.difference_title_heading i { width: 79px; }
	.difference_title_heading h2 { font-size: 35px; }
	.difference_sec { padding: 40px 0; }
	.difference_slider_wrp { max-width: 790px; }
	.difference_blk .slider-button { width: 40px; height: 40px; left: calc(50% - 20px); top: calc(50% - 20px); }
	.difference_blk .img { background-size: 790px 100%; }
	.swiper_difference_btn a { width: 35px; }

	.start_renovation_section { padding: 55px 0; }
	.start_renovation_secmain { padding: 40px 0; }


	.wrappen_wrapper .review_section { padding: 40px 0; }
	.review_slider .review_block .inner_review { padding: 34px 30px 30px 30px; }
	.review_slider .review_block .inner_review .content .title { font-size: 22px; margin-bottom: 30px; }
	.review_slider .review_block .inner_review .content { margin-bottom: 52px; }
}

@media (min-width: 768px) and (max-width: 991px) {

	/*============ Homepage style start ============*/

	.home_header .main_header { margin: 16px 0; align-items: center; }
	.main_header .navi_wrapper { margin: 0; }
	.home_header .main_header .logo { width: 70px; height: 70px; }
	.main_header .navi_wrapper .btnbox { margin: 0; }
	.main_header .navi_wrapper .btnbox .primary-btn { height: 40px; padding: 0 20px; }
	.main_header .navi_wrapper .navigation { position: fixed; background: var(--white); left: 0; top: 0; bottom: 0; overflow-y: auto; width: 100%; max-width: 756px; z-index: 5; padding: 90px 20px 30px 20px; transform: translateX(-100%); transition: all ease-in-out 0.3s; border-radius: 0 24px 0 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.16); }
	.main_header .navi_wrapper .navigation.slide { transform: translateX(0); }
	.main_header .navi_wrapper .navigation { flex-direction: column; align-items: flex-start; }
	.main_header .navi_wrapper .navigation li + li { margin: 36px 0 0 0; }
	.main_header .navi_wrapper .navigation li a { font-size: 16px; font-weight: 600; }

	.menu-btn { position: relative; display: flex; align-items: center; width: 22px; height: 16px; margin: 0 22px 0 34px; z-index: 111; }
	.menu-btn span { display: block; width: 100%; height: 2px; position: relative; background: var(--green100); border-radius: 2px; }
	.menu-btn span:before,
	.menu-btn span:after { content: ""; width: 100%; height: 2px; background: var(--green100); border-radius: 2px; position: absolute; left: 0; z-index: 1; -webkit-transition-duration: .3s, .3s; transition-duration: .3s, .3s; -webkit-transition-delay: .15s, 0s; transition-delay: .15s, 0s; }
	.menu-btn span:before { top: -6px; -webkit-transition-property: top, transform; transition-property: top, transform; }
	.menu-btn span:after { bottom: -6px; -webkit-transition-property: bottom, transform; transition-property: bottom, transform; }
	.menu-btn.active span { background: none !important;}
	.menu-btn.active span:before,
	.menu-btn.active span:after { -webkit-transition-delay: 0s, .15s; transition-delay: 0s, .2s; }
	.menu-btn.active span:before { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
	.menu-btn.active span:after { bottom: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	.menu-btn.active span:before, 
	.menu-btn.active span:after{ background: var(--green100); }

	.home_banner { margin: 0; }
	.home_bnr_wrapper .bnr_img { clip-path: none; border-radius: 0 30px; }
	.home_bnr_wrapper .bnr_img::after { padding: 25% 50%; }
	.home_bnr_wrapper .bnr_shape { display: none; }
	.home_bnr_wrapper .rate_section { display: none; }
	.home_bnr_wrapper .bnr_text { max-width: 600px; left: 24px; bottom: 24px; }
	h1 { font-size: 60px; }
	.tag_block .tag { border-radius: 0 14px; font-size: 22px; }
	
	.maintain_wrap .maintain_card .block_inner { padding: 20px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap { height: 100px; width: 100px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { max-width: 40px; }
	.maintain_wrap .maintain_card .block_inner .title { font-size: 24px; }

	/*============ Homepage style end ============*/
}

@media (max-width: 767px) {

	/*============ Homepage style start ============*/

	.home_header .main_header { margin: 16px 0; align-items: center; }
	.container { padding: 0 16px; }
	.main_header .navi_wrapper { margin: 0; }
	.home_header .main_header .logo { width: 56px; height: 56px; }
	.main_header .navi_wrapper .btnbox { margin: 0; }
	.main_header .navi_wrapper .btnbox .primary-btn { height: 40px; padding: 0 20px; font-size: 13px; font-weight: 400; border-radius: 4px; }
	.main_header .navi_wrapper .navigation { position: fixed; background: var(--white); left: 0; top: 0; bottom: 0; overflow-y: auto; width: 100%; max-width: 376px; z-index: 5; padding: 90px 24px 30px 16px; transform: translateX(-100%); transition: all ease-in-out 0.3s; border-radius: 0 24px 0 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.16); }
	.main_header .navi_wrapper .navigation.slide { transform: translateX(0); }
	.main_header .navi_wrapper .navigation { flex-direction: column; align-items: flex-start; }
	.main_header .navi_wrapper .navigation li + li { margin: 36px 0 0 0; }
	.main_header .navi_wrapper .navigation li a { font-size: 16px; font-weight: 600; }

	.menu-btn { position: relative; display: flex; align-items: center; width: 22px; height: 16px; margin: 0 22px 0 34px; z-index: 111; }
	.menu-btn span { display: block; width: 100%; height: 2px; position: relative; background: var(--green100); border-radius: 2px; }
	.menu-btn span:before,
	.menu-btn span:after { content: ""; width: 100%; height: 2px; background: var(--green100); border-radius: 2px; position: absolute; left: 0; z-index: 1; -webkit-transition-duration: .3s, .3s; transition-duration: .3s, .3s; -webkit-transition-delay: .15s, 0s; transition-delay: .15s, 0s; }
	.menu-btn span:before { top: -6px; -webkit-transition-property: top, transform; transition-property: top, transform; }
	.menu-btn span:after { bottom: -6px; -webkit-transition-property: bottom, transform; transition-property: bottom, transform; }
	.menu-btn.active span { background: none !important;}
	.menu-btn.active span:before,
	.menu-btn.active span:after { -webkit-transition-delay: 0s, .15s; transition-delay: 0s, .2s; }
	.menu-btn.active span:before { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
	.menu-btn.active span:after { bottom: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	.menu-btn.active span:before, 
	.menu-btn.active span:after{ background: var(--green100); }

	.home_banner { margin: 0; }
	.home_bnr_wrapper .bnr_img { clip-path: none; border-radius: 0 24px; }
	.home_bnr_wrapper .bnr_img::after { padding: 35.755% 50%; }
	.home_bnr_wrapper .bnr_shape { display: none; }
	.home_bnr_wrapper .rate_section { display: none; }
	.home_bnr_wrapper .bnr_text { max-width: 100%; left: 24px; bottom: 24px; }
	h1 { font-size: 40px; }
	.home_bnr_wrapper .bnr_text h1 { margin: 0 10px 17px 0;  }
	.tag_block .tag { border-radius: 0 10px; font-size: 20px; }

	.maintain_wrap .row { row-gap: 52px; }
	.maintain_wrap .maintain_card .block_inner { padding: 0 20px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap { height: 96px; width: 96px; }
	.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { max-width: 40px; }
	.maintain_wrap .maintain_card .block_inner .title { font-size: 22px; } 
	.maintain_wrap .maintain_card .block_inner p { margin-top: 17px; }

	.inner_kitchen .row { row-gap: 34px; }
	.inner_kitchen .right_part::after { padding: 35.755% 50%; }
	.inner_kitchen .row + .row { margin-top: 64px !important; }
	.inner_kitchen .right_wrapper_part .person_img .tag_block { display: none; }
	.inner_kitchen .right_wrapper_part .person_img .image { border-radius: 0 16px; }
	.inner_kitchen .right_wrapper_part .person_img .image::after { padding: 35.68% 50%; }
	.inner_kitchen .right_wrapper_part .row { margin: 0 -8px !important; }
	.inner_kitchen .right_wrapper_part .row>* { padding: 0 8px !important; }

	.start_renovation_section { margin: 80px 0; padding: 52px 50px; }

	.transformation_section { margin-top: 64px; }
	.transformation_inner .transformation_title_section { margin: 0 auto 36px auto; text-align: start; }
	.transformation_inner .transformation_title_section p + p { margin-top: 22px; }
	.transformation_inner .transformation_title_section .report_bolck { justify-content: flex-start; }
	.transformation_inner .btnbox { margin-top: 36px; justify-content: flex-start; }

	.footer_main .top_footer { flex-direction: column; padding-bottom: 32px; border: none; }
	.top_footer .box_wrapper + .box_wrapper { margin-top: 50px; }
	.footer_main .bottom_footer { align-items: flex-start; }
	.footer_main .bottom_footer .ks_brand { margin-top: 8px; }
	.footer_main .bottom_footer .copy_privacy { flex-direction: column; align-items: flex-start; }
	.footer_main .bottom_footer .copy_privacy .copy + a { margin: 0; }
	.footer_main .bottom_footer .copy_privacy .copy + a::after { display: none; }

	/*============ Homepage style end ============*/
}