*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* ::-webkit-input-placeholder {
  	color: var(--blue500);
}

* :-moz-placeholder {
	opacity: 1;
	color: var(--blue500);
}

* ::-moz-placeholder {
	opacity: 1;
	color: var(--blue500);
}

* :-ms-input-placeholder {
  	color: var(--blue500);
}

html,
body { min-height: 100%; }

html {
	margin: 0;
	padding: 0;
}

:root {

	--pink: #ED76AA;
	--green200: #DAD500;
	--green50: #EDF4D7;
	--green40: #F6F9EB;
	--green100: #A6C739;
	--blue500: #1A1A30;
	--blue400: #404066;
	--blue300: #808099;
	--blue200: #BFBFCB;
	--lightwhite: #F2F2F4;
	--white: #FFFFFF;
	--green300: #9EBD36;
	--black200: #252525;
}

body { margin: 0; padding: 0; font-style: normal; font-size: 20px; line-height: normal; background: var(--white); color: var(--blue500); }

body.open-nav { overflow: hidden; }

.main_wrapper { position: relative; width: 100%; min-height: 100%; overflow: hidden; }

ol,
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

input,
select,
textarea,
button {
	outline: none;
	box-shadow: none;
	font-family: inherit;
}

input[type="text"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="text"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="text"]::-ms-placeholder,
input[type="search"]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

a { text-decoration: none; border: 0; outline: none !important; color: inherit; }

a, button, input[type=submit] {
	outline:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus { text-decoration: none; outline: none; }

:focus { outline: none; }

img,
svg,
iframe { max-width: 100%; border: none; outline: none; }

h1 { font-family: 'Museo 700'; font-size: 110px; font-weight: 700; line-height: 1.09; color: var(--white); }
h2 { font-family: 'Museo 500'; font-size: 68px; font-weight: 500; line-height: 1.08; color: var(--black200); }
h3 { font-family: 'Museo 500'; font-size: 42px; font-weight: 500; line-height: 1.19; color: var(--blue500); }

p { font-family: 'Montserrat'; font-size: 16px; font-weight: 500; line-height: 1.5; color: var(--blue500); }

.primary-btn { position: relative; display: flex; height: 50px; padding: 0 32px; font-family: 'Montserrat'; font-weight: 500; font-size: 14px; color: var(--white); align-items: center; text-transform: uppercase; background: var(--green100); border-radius: 8px; justify-content: center; line-height: 1.28; }
.primary-btn:hover { background: var(--green300); }

.btnbox { display: flex; position: relative; }

.container { padding: 0 15px; }

@media (min-width: 375px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 576px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
		max-width: 970px;
	}
}
@media (min-width: 1300px) {
	.container {
		width: 100%;
		max-width: 1222px;
	}
}

/*============ Default Css end ============*/

/*============ Homepage style start ============*/

.header { display: block; position: relative; z-index: 999; width: 100%; }
.home_header .main_header { max-width: 1200px; margin: 16px auto 0 auto; display: flex; align-items: flex-start; justify-content: space-between; }
.main_header { max-width: 1200px; margin: 16px auto; display: flex; align-items: center; justify-content: space-between; }
.home_header .main_header .logo { display: flex; width: 158px; height: 158px; }
.main_header .logo { display: flex; width: 96px; height: 96px; }
.main_header .logo a { display: flex; }
.main_header .logo a img { width: 100%; height: auto; }
.main_header .navi_wrapper { display: flex; align-items: center; margin-top: 26px; margin-bottom: 36px; }
.main_header .navi_wrapper .navigation { display: flex; align-items: center; }
.main_header .navi_wrapper .navigation li { display: block; position: relative; }
.main_header .navi_wrapper .navigation li + li { margin-left: 32px; }
.main_header .navi_wrapper .navigation li a { font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--blue500); display: flex; transition: all 0.3s ease-in-out; }
.main_header .navi_wrapper .navigation li a:hover,
.main_header .navi_wrapper .navigation li.current-menu-item a { color: var(--green100); }
.main_header .navi_wrapper .btnbox { margin-left: 32px; }
.main_header .navi_wrapper .menu-btn { display: none; }


.home_banner { display: block; margin: -46px 0 0 0; position: relative; }
.home_bnr_wrapper { display: block; position: relative; }
.home_bnr_wrapper .bnr_img { position: relative; display: flex; width: 100%; overflow: hidden; clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 106%); border-radius: 0 40px; }
.home_bnr_wrapper .bnr_img::after { content: ''; display: block; padding: 20.834% 50%; }
.home_bnr_wrapper .bnr_img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.home_bnr_wrapper .bnr_shape { display: flex; position: absolute; right: -54px; bottom: -2px; width: 840px; height: 104px; }
.home_bnr_wrapper .bnr_shape img { width: 100%; height: auto; object-fit: cover; }
.home_bnr_wrapper .bnr_text { max-width: 790px; position: absolute; bottom: 80px; left: 122px; }
.home_bnr_wrapper .bnr_text h1 { margin-bottom: 20px; }
.tag_block { display: flex; }
.tag_block .tag { display: flex; background: var(--pink); border-radius: 0 20px; padding: 10px 20px; font-family: 'Museo 500'; font-size: 42px; font-weight: 500; line-height: 1.19; color: var(--white); }
.home_bnr_wrapper .rate_section { max-width: 124px; position: absolute; top: 76px; right: 160px; display: flex; flex-direction: column; align-items: center; }
.home_bnr_wrapper .rate_section ul { display: flex; margin-bottom: 10px; }
.home_bnr_wrapper .rate_section ul li { display: flex; height: 20px; width: 20px; }
.home_bnr_wrapper .rate_section ul li img { width: 100%; height: auto; }
.home_bnr_wrapper .rate_section ul li + li { margin-left: 5px; }
.home_bnr_wrapper .rate_section i { display: flex; font-style: normal; font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; text-align: center; color: var(--white); }


.maintain_section { display: block; position: relative; margin: 44px 0 0 0; }
.maintain_wrap { max-width: 1192px; margin: 0 auto; }
.maintain_wrap .row { margin: 0 -10px; }
.maintain_wrap .row>* { padding: 0 10px; }
.maintain_wrap .maintain_card { position: relative; width: 100%; height: 100%; display: flex; align-items: flex-start; justify-content: center; }
.maintain_wrap .maintain_card .block_inner { position: relative; width: 100%; padding: 50px; text-align: center; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap { display: flex; justify-content: center; align-items: center; width: 120px; height: 120px; margin: 0 auto; background: var(--green40); border-radius: 50%; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { display: flex; max-width: 50px; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon img { width: 100%; height: auto; }
.maintain_wrap .maintain_card .block_inner .title { margin-top: 24px; display: flex; justify-content: center; font-family: 'Museo 700'; font-size: 26px; font-weight: 700; line-height: 1.23; color: var(--blue500); }
.maintain_wrap .maintain_card .block_inner p { margin-top: 24px; font-family: 'Montserrat'; font-size: 16px; font-weight: 500; line-height: 1.5; color: var(--blue500); }


.home_kitchen_section { display: block; position: relative; margin: 80px 0 0 0; }
.home_inner_kitchen { max-width: 1192px; margin: 0 auto; }
.home_inner_kitchen .inner_kitchen {  }

/*============ Homepage style end ============*/


/* Wrappen Page Start */
/* Inner Banner Start */
.inner_banner { width: 100%; position: relative; }
.inner_banner_wrap { width: 100%; position: relative; }
.inner_banner_img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; border-radius: 0 24px 0 24px; }
.inner_banner_img img { width: 100%; height: 100%; object-fit: cover; }
.inner_banner .container-fluid { max-width: 1470px; padding: 0 15px; }
.inner_banner_txt_wrap { min-height: 440px; display: -ms-flexbox; display: flex; align-items: flex-end; align-content: flex-end; justify-content: center; position: relative; z-index: 2; }
.inner_banner_txt_inner { width: 100%; position: relative; padding: 72px 0; }
.inner_banner_txt_inner .tag_block .tag { padding-top: 11px; padding-bottom: 11px; }
/* Inner Banner End */

.after_banner_sec { width: 100%; padding: 162px 0 60px; }
.after_banner_inner { width: 100%; position: relative; }
.after_banner_inner h2 { padding: 0 0 30px 0; }
.listing_keuken { width: 100%; position: relative; padding: 80px 0 0 0; }

.keuken_box { background-color: var(--lightwhite); width: 100%; position: relative; border-radius: 24px; padding: 32px 42px 32px 32px; display: -ms-flexbox; display: flex; align-items: center; align-content: center; }
.keuken_box + .keuken_box { margin-top: 24px; }
.keuken_box .keuken_icon { width: 96px; }
.keuken_box .keuken_icon i { width: 100%; height: 96px; background-color: var(--white); border-radius: 50%; display: -ms-flexbox; display: flex; align-items: center; align-content: center; justify-content: center; } 
.keuken_box .keuken_icon i img { width: auto; height: auto; max-width: 42px; max-width: 44px; } 
.keuken_box .keuken_dtl { width: calc(100% - 96px); padding: 0 0 0 32px; }
.keuken_box .keuken_dtl h5 { font-family: 'Museo 700'; font-size: 26px; line-height: 1.19230; padding: 0 0 8px 0; }


.how_we_work_sec { width: 100%; position: relative; padding: 60px 0; }
.how_we_work_inner { width: 100%; position: relative; }
.how_we_work_sec_title { width: 100%; position: relative; padding: 0 0 54px 0; }
/* Wrappen Page End */