*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* ::-webkit-input-placeholder {
  	color: var(--blue500);
}

* :-moz-placeholder {
	opacity: 1;
	color: var(--blue500);
}

* ::-moz-placeholder {
	opacity: 1;
	color: var(--blue500);
}

* :-ms-input-placeholder {
  	color: var(--blue500);
}

html,
body { min-height: 100%; }

html {
	margin: 0;
	padding: 0;
}

:root {

	--pink: #ED76AA;
	--green200: #DAD500;
	--green50: #EDF4D7;
	--green40: #F6F9EB;
	--green100: #A6C739;
	--blue500: #1A1A30;
	--blue400: #404066;
	--blue300: #808099;
	--blue200: #BFBFCB;
	--lightwhite: #F2F2F4;
	--white: #FFFFFF;
	--green300: #9EBD36;
	--black200: #252525;
	--black: #000000;
}

body { margin: 0; padding: 0; font-style: normal; font-family: 'Montserrat'; font-size: 20px; line-height: normal; background: var(--white); color: var(--blue500); }

body.open-nav { overflow: hidden; }

.main_wrapper { position: relative; width: 100%; min-height: 100%; overflow: hidden; }

ol,
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

input,
select,
textarea,
button {
	outline: none;
	box-shadow: none;
	font-family: inherit;
}

input[type="text"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="text"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="text"]::-ms-placeholder,
input[type="search"]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

a { text-decoration: none; border: 0; outline: none !important; color: inherit; }

a, button, input[type=submit] {
	outline:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus { text-decoration: none; outline: none; }

:focus { outline: none; }

img,
svg,
iframe { max-width: 100%; border: none; outline: none; }

h1 { font-family: 'Museo 700'; font-size: 110px; font-weight: 700; line-height: 1.09; color: var(--white); }
h2 { font-family: 'Museo 500'; font-size: 68px; font-weight: 500; line-height: 1.08; color: var(--black200); }
h3 { font-family: 'Museo 500'; font-size: 42px; font-weight: 500; line-height: 1.19; color: var(--blue500); }

p { font-family: 'Montserrat'; font-size: 16px; font-weight: 500; line-height: 1.5; color: var(--blue500); }

.primary-btn { position: relative; display: flex; height: 50px; padding: 0 32px; font-family: 'Montserrat'; font-weight: 500; font-size: 14px; color: var(--white); align-items: center; background: var(--green100); border-radius: 8px; justify-content: center; line-height: 1.28; }
.primary-btn:hover { background: var(--green300); }

.btnbox { display: flex; position: relative; }

.container { padding: 0 15px; }

@media (min-width: 375px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 576px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
		max-width: 970px;
	}
}
@media (min-width: 1300px) {
	.container {
		width: 100%;
		max-width: 1222px;
	}
}

.row { margin: 0 -10px !important; }
.row > [class^="col-"] { padding: 0 10px !important; }

/*============ Default Css end ============*/

/*============ Homepage style start ============*/

.header { display: block; position: relative; z-index: 999; width: 100%; }
.header .container { max-width: 1230px; }
.home_header .main_header { margin: 16px auto 0 auto; display: flex; align-items: flex-start; justify-content: space-between; }
.main_header { margin: 16px auto; display: flex; align-items: center; justify-content: space-between; }
.home_header .main_header .logo { display: flex; width: 158px; height: 158px; }
.main_header .logo { display: flex; width: 96px; height: 96px; }
.main_header .logo a { display: flex; }
.main_header .logo a img { width: 100%; height: auto; }
.main_header .navi_wrapper { display: flex; align-items: center; margin-top: 26px; margin-bottom: 36px; }
.main_header .navi_wrapper .navigation { display: flex; align-items: center; }
.main_header .navi_wrapper .navigation li { display: block; position: relative; }
.main_header .navi_wrapper .navigation li + li { margin-left: 32px; }
.main_header .navi_wrapper .navigation li a { font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--blue500); display: flex; transition: all 0.3s ease-in-out; }
.main_header .navi_wrapper .navigation li a:hover,
.main_header .navi_wrapper .navigation li.current-menu-item a { color: var(--green100); }
.main_header .navi_wrapper .btnbox { margin-left: 32px; }
.main_header .navi_wrapper .menu-btn { display: none; }


.home_banner { display: block; margin: -46px 0 0 0; position: relative; }
.home_banner .container { max-width: 1470px; }
.home_bnr_wrapper { display: block; position: relative; }
.home_bnr_wrapper .bnr_img { position: relative; display: flex; width: 100%; overflow: hidden; clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 106%); border-radius: 0 40px; }
.home_bnr_wrapper .bnr_img::after { content: ''; display: block; padding: 20.834% 50%; }
.home_bnr_wrapper .bnr_img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.home_bnr_wrapper .bnr_shape { display: flex; position: absolute; right: -54px; bottom: -2px; width: 840px; height: 104px; }
.home_bnr_wrapper .bnr_shape img { width: 100%; height: auto; object-fit: cover; }
.home_bnr_wrapper .bnr_text { max-width: 790px; position: absolute; bottom: 80px; left: 122px; }
.home_bnr_wrapper .bnr_text h1 { margin-bottom: 20px; }
.tag_block { display: flex; }
.tag_block .tag { display: flex; background: var(--pink); border-radius: 0 20px; padding: 10px 20px; font-family: 'Museo 500'; font-size: 42px; font-weight: 500; line-height: 1.19; color: var(--white); }
.home_bnr_wrapper .rate_section { max-width: 124px; position: absolute; top: 76px; right: 160px; display: flex; flex-direction: column; align-items: center; }
.home_bnr_wrapper .rate_section ul { display: flex; margin-bottom: 10px; }
.home_bnr_wrapper .rate_section ul li { display: flex; height: 20px; width: 20px; }
.home_bnr_wrapper .rate_section ul li img { width: 100%; height: auto; }
.home_bnr_wrapper .rate_section ul li + li { margin-left: 5px; }
.home_bnr_wrapper .rate_section i { display: flex; font-style: normal; font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; text-align: center; color: var(--white); }


.maintain_section { display: block; position: relative; margin: 44px 0 0 0; }
.maintain_wrap .maintain_card { position: relative; width: 100%; height: 100%; display: flex; align-items: flex-start; justify-content: center; }
.maintain_wrap .maintain_card .block_inner { position: relative; width: 100%; padding: 50px; text-align: center; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap { display: flex; justify-content: center; align-items: center; width: 120px; height: 120px; margin: 0 auto; background: var(--green40); border-radius: 50%; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { display: flex; max-width: 50px; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon img { width: 100%; height: auto; }
.maintain_wrap .maintain_card .block_inner .title { margin-top: 24px; display: flex; justify-content: center; font-family: 'Museo 700'; font-size: 26px; font-weight: 700; line-height: 1.23; color: var(--blue500); }
.maintain_wrap .maintain_card .block_inner p { margin-top: 24px; font-family: 'Montserrat'; font-size: 16px; font-weight: 500; line-height: 1.5; color: var(--blue500); }


.home_kitchen_section { display: block; position: relative; margin: 80px 0 0 0; }
.home_inner_kitchen { display: block; position: relative; }
.inner_kitchen { display: block; position: relative; }
.inner_kitchen .left_part { max-width: 586px; margin-left: auto; }
.inner_kitchen .left_part h3 { margin-bottom: 24px; }
.inner_kitchen .left_part p strong { font-weight: 700; display: inline-flex; }
.inner_kitchen .left_part .btnbox { margin-top: 32px; }
.inner_kitchen .right_part { position: relative; display: flex; width: 100%; overflow: hidden; border-radius: 0 24px; background: var(--lightwhite); }
.inner_kitchen .right_part img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.inner_kitchen .right_part::after { content: ''; display: block; padding: 45.362% 50%; }
.inner_kitchen .row:nth-child(odd) { flex-direction: row-reverse; }
.inner_kitchen .row:nth-child(odd) .left_part { margin-right: auto; margin-left: 0; }
.inner_kitchen .row { align-items: center; }
.inner_kitchen .row + .row { margin-top: 120px !important; }
.inner_kitchen .right_wrapper_part { width: 485px; position: relative; }
.inner_kitchen .right_wrapper_part .row { margin: 0 -12px !important; row-gap: 24px; }
.inner_kitchen .right_wrapper_part .row>* { padding: 0 12px !important; }
.inner_kitchen .right_wrapper_part .person_img { display: block; position: relative; }
.inner_kitchen .right_wrapper_part .person_img .image { display: flex; width: 100%; position: relative; border-radius: 0 24px; overflow: hidden; }
.inner_kitchen .right_wrapper_part .person_img .image::after { content: ''; display: block; padding: 48.592% 50%; }
.inner_kitchen .right_wrapper_part .person_img .image img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.inner_kitchen .right_wrapper_part .person_img .tag_block { position: absolute; right: 16px; bottom: 16px; }
.inner_kitchen .right_wrapper_part .person_img .tag_block .tag { border-radius: 0 10px; padding: 10px 16px; font-family: 'Montserrat'; font-size: 16px; font-weight: 500; line-height: 1.5; }


.start_renovation_section { position: relative; background: var(--green50); border-radius: 24px; padding: 72px 0; margin: 120px 0; }
.start_renovation_section .renovation_content { max-width: 720px; text-align: center; margin: 0 auto; }
.start_renovation_section .renovation_content h3 { margin-bottom: 24px; }
.start_renovation_section .renovation_content p { max-width: 522px; margin: 0 auto; }
.start_renovation_section .renovation_content .btnbox { justify-content: center; margin-top: 32px; }


.home_kitchen_inner_section { display: block; position: relative; }
.kitchen_block_wrapper { display: block; position: relative; }
.kitchen_block_wrapper .inner_kitchen .row { flex-direction: row-reverse; }
.kitchen_block_wrapper .inner_kitchen .row .left_part { margin-left: 0; margin-right: auto; }
.kitchen_block_wrapper .inner_kitchen .row:nth-child(odd) { flex-direction: row; }
.kitchen_block_wrapper .inner_kitchen .row:nth-child(odd) .left_part { margin-right: 0; margin-left: auto; }


.transformation_section { position: relative; display: block; margin-top: 120px; }
.transformation_section .container { max-width: 1470px; }
.transformation_inner { position: relative; display: block; }
.transformation_inner .transformation_title_section { max-width: 1050px; margin: 0 auto 60px auto; text-align: center; }
.transformation_inner .transformation_title_section h3 { color: var(--black200); margin-bottom: 22px; }
.transformation_inner .transformation_title_section p { color: var(--black200); margin-bottom: 22px; }
.transformation_inner .transformation_title_section p span { display: inline-flex; color: var(--pink); }
.transformation_inner .transformation_title_section .report_bolck { display: flex; justify-content: center; align-items: center; }
.transformation_inner .transformation_title_section .report_bolck .image { display: flex; height: 56px; width: 56px; overflow: hidden; border-radius: 50%; margin-right: 10px; }
.transformation_inner .transformation_title_section .report_bolck .image img { width: 100%; height: auto; }
.transformation_inner .transformation_title_section .report_bolck .report_text { display: flex; flex-direction: column; }
.transformation_inner .transformation_title_section .report_bolck .report_text span { display: flex; font-family: 'Montserrat'; font-size: 14px; font-weight: 700; line-height: 1.71; color: var(--blue500); }
.transformation_inner .transformation_title_section .report_bolck .report_text i { display: flex; font-style: normal; font-family: 'Montserrat'; font-size: 14px; font-weight: 400; line-height: 1.71; color: var(--blue300); }
.transformation_inner .btnbox { justify-content: center; margin-top: 64px; }
.transformation_inner .btnbox .primary-btn i { display: flex; max-width: 18px; margin-right: 10px; }
.transformation_inner .btnbox .primary-btn i img { width: 100%; height: auto; }


.review_section { display: block; position: relative; margin: 120px 0; }
.review_inner_section { position: relative; display: block; }
.review_inner_section h3 { text-align: center; margin-bottom: 40px; }
.review_slider .swiper-wrapper { flex-wrap: wrap; margin: 0 -10px; row-gap: 20px; }
.review_slider .swiper-slide { width: 33.333333%; padding: 0 10px; height: auto; }
.review_slider .review_block { transition: all 0.3s ease-in-out; background: var(--lightwhite); border-radius: 24px; border: 1px solid var(--lightwhite); position: relative; width: 100%; height: 100%; display: flex; align-items: flex-start; justify-content: center; }
.review_slider .review_block:hover { border-color: var(--pink); }
.review_slider .review_block .inner_review { position: relative; width: 100%; padding: 44px 40px 40px 40px; height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; }
.rate_block { display: flex; align-items: center; margin-bottom: 32px; width: 100%; }
.rate_block ul { display: flex; align-items: center; }
.rate_block ul li { display: flex; height: 16px; width: 16px; }
.rate_block ul li img { width: 100%; height: auto; }
.rate_block ul li + li { margin-left: 2px; }
.rate_block .rating { display: flex; margin-left: 10px; font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--black); }
.rate_block .rating span { display: inline-flex; }
.review_slider .review_block .inner_review .content { margin-bottom: 72px; position: relative; }
.review_slider .review_block .inner_review .content .title { font-family: 'Museo 500'; font-size: 26px; font-weight: 500; line-height: 1.23; color: var(--blue500); margin-bottom: 40px; }
.review_slider .review_block .inner_review .content .coma { display: flex; margin-left: auto; width: 36px; height: 26px; }
.review_slider .review_block .inner_review .content .coma img { width: 100%; height: auto; }
.profile_box { display: flex; align-items: center; margin-top: auto; width: 100%; }
.profile_box .profile_img { display: flex; overflow: hidden; border-radius: 50%; height: 48px; width: 48px; }
.profile_box .profile_img img { width: 100%; height: auto; }
.profile_box .profile_detail { display: flex; flex-direction: column; margin-left: 16px; }
.profile_box .profile_detail span { display: flex; font-family: 'Montserrat'; font-size: 16px; font-weight: 700; line-height: 1.5; color: var(--black); text-transform: capitalize; }
.profile_box .profile_detail i { display: flex; font-style: normal; font-family: 'Montserrat'; font-size: 16px; font-weight: 400; line-height: 1.5; color: var(--blue300); text-transform: capitalize; }
.review_inner_section .btnbox { justify-content: center; margin-top: 40px; }


.footer { display: block; position: relative; background: var(--blue500); }
.footer_main { padding-top: 58px; }
.footer_main .top_footer { display: flex; justify-content: space-between; align-items: flex-start; padding-bottom: 130px; border-bottom: 1px solid var(--blue400); }
.top_footer .box_wrapper { position: relative; display: block; max-width: 284px; }
.top_footer .box_wrapper .title { font-family: 'Museo 700'; font-size: 26px; font-weight: 700; line-height: 1.23; color: var(--blue300); margin-bottom: 18px; }
.top_footer .box_wrapper .addresh { font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--white); margin-bottom: 30px; }
.top_footer .box_wrapper .link { position: relative; display: flex; }
.top_footer .box_wrapper .link a { display: flex; align-items: center; }
.top_footer .box_wrapper .link a i { display: flex; font-size: 0; max-width: 16px; margin-right: 10px; }
.top_footer .box_wrapper .link a i img { width: 100%; height: auto; }
.top_footer .box_wrapper .link a span { display: flex; font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--white); position: relative; transition: all 0.3s ease-in-out; }
.top_footer .box_wrapper .link a span::after { content: ""; position: absolute; left: 0; bottom: 5px; width: 100%; border-bottom: 1px solid var(--white); transition: all 0.3s ease-in-out; }
.top_footer .box_wrapper .link a:hover span { color: var(--pink); }
.top_footer .box_wrapper .link a:hover span::after { border-color: var(--pink); }
.top_footer .box_wrapper .link + .link { margin-top: 12px; }
.top_footer .box_wrapper .nav_link { display: block; position: relative; }
.top_footer .box_wrapper .nav_link li { display: flex; }
.top_footer .box_wrapper .nav_link li a { display: flex; font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--white); transition: all 0.3s ease-in-out; }
.top_footer .box_wrapper .nav_link li a:hover { color: var(--pink); }
.top_footer .box_wrapper .nav_link li + li { margin-top: 14px; }
.top_footer .box_wrapper .follow_title { font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--white); margin-bottom: 20px; }
.top_footer .box_wrapper .social_link { display: flex; align-items: center; margin-bottom: 26px; }
.top_footer .box_wrapper .social_link li { display: flex; }
.top_footer .box_wrapper .social_link li + li { margin-left: 16px; }
.top_footer .box_wrapper .social_link li a { display: flex; height: 24px; width: 24px; filter: brightness(0) invert(1); }
.top_footer .box_wrapper .social_link li a img { width: 100%; height: auto; }
.top_footer .box_wrapper .social_link li a:hover { filter: brightness(1) invert(0); }
.top_footer .box_wrapper .trustpilot { display: flex; max-width: 112px; }
.top_footer .box_wrapper .trustpilot img { width: 100%; height: auto; }
.top_footer .box_wrapper .logo { display: block; position: relative; margin-bottom: 14px; }
.top_footer .box_wrapper .logo a { display: flex; max-width: 112px; }
.top_footer .box_wrapper .logo a img { width: 100%; height: auto; }
.top_footer .box_wrapper .initiative { font-family: 'Montserrat'; font-size: 12px; font-weight: 400; line-height: 1.33; color: var(--blue300); margin-bottom: 12px; }
.top_footer .box_wrapper .ks_logo { position: relative; display: block; }
.top_footer .box_wrapper .ks_logo a { display: flex; max-width: 108px; }
.top_footer .box_wrapper .ks_logo a img { width: 100%; height: auto; }
.footer_main .bottom_footer { display: flex; align-items: center; justify-content: center; padding: 20px 0; }
.footer_main .bottom_footer .ks_brand { display: flex; max-width: 20px; margin-right: 16px; }
.footer_main .bottom_footer .ks_brand img { width: 100%; height: auto; }
.footer_main .bottom_footer .copy_privacy { display: flex; align-items: center; position: relative; }
.footer_main .bottom_footer .copy_privacy .copy { font-family: 'Montserrat'; font-size: 12px; font-weight: 500; line-height: 2; color: var(--white); }
.footer_main .bottom_footer .copy_privacy a { display: inline-flex; font-family: 'Montserrat'; font-size: 12px; font-weight: 500; line-height: 2; color: var(--white); }
.footer_main .bottom_footer .copy_privacy .copy + a { margin-left: 32px; position: relative; }
.footer_main .bottom_footer .copy_privacy .copy + a::after { content: ""; position: absolute; left: -16px; top: 0; width: 1px; height: 100%; background: var(--blue400); pointer-events: none; }

/*============ Homepage style end ============*/

/*============ Klantervaringen style start ============*/

.klantervaringen_wrapper { padding: 20px 0; }
.experience_listing { max-width: 990px; position: relative; padding: 76px 0 0 0; }
.customer_experience { padding: 44px 60px 40px 40px; border-radius: 24px; background: var(--lightwhite); }
.customer_experience + .customer_experience { margin-top: 40px; }
.customer_experience .rate_block { margin-bottom: 34px; }
.customer_experience h4 { font-family: 'Museo 500'; font-weight: 500; font-size: 26px; line-height: 1.23; color: var(--blue500); margin-bottom: 18px; }
.customer_slider { margin-top: 44px; }
.customer_slider .swiper-wrapper { flex-wrap: wrap; }
.customer_slider .swiper-slide { max-width: 283px; }
.customer_slider .customer_img { position: relative; width: 100%; display: flex; background: var(--blue200); overflow: hidden; border-radius: 0 16px; }
.customer_slider .customer_img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.customer_slider .customer_img::after { content: ''; display: block; padding: 45.41% 50%; }
.customer_slider .swiper-slide + .swiper-slide { margin-left: 20px; }
.customer_experience .profile_box { margin-top: 30px; }
.experience_listing .btnbox { margin-top: 40px; justify-content: center; }


.klantervaringen-review-detail { padding: 56px 0 0 0; }
.klantervaringen-detail h3 { color: var(--black200); margin-bottom: 32px; }
.klantervaringen-detail p { margin-bottom: 28px; }
.klantervaringen-detail .profile_box .profile_detail i { font-weight: 500; }
.klantervaringen-detail .klantervaringen-row { margin-top: 44px; }
.klantervaringen-row .klantervaringen-img { position: relative; width: 100%; display: flex; background: var(--blue200); overflow: hidden; border-radius: 0 16px; }
.klantervaringen-row .klantervaringen-img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.klantervaringen-row .klantervaringen-img::after { content: ''; display: block; padding: 45.41% 50%; }
.klantervaringen-renovation .renovation_box { position: relative; border-radius: 0 20px; background: var(--pink); padding: 20px; text-align: center; font-family: 'Museo 500'; font-weight: 500; font-size: 26px; line-height: 1.23; color: var(--white); margin-bottom: 40px; }
.klantervaringen-renovation .renovation_box::after { content: ""; position: absolute; left: 50%; transform: translateX(-50%); bottom: -24px; width: 0; height: 0; border-left: 40px solid transparent; border-right: 40px solid transparent; border-top: 24px solid var(--pink); }
.klantervaringen-renovation .btnbox .primary-btn { width: 100%; }

/*============ Klantervaringen style end ============*/

/*============ Onze werkwijze style start ============*/

.onze_werkwijze_wrapper .after_banner_sec { padding: 80px 0 40px 0; }
.onze_werkwijze_wrapper .home_kitchen_inner_section { padding: 40px 0; }
.onze_werkwijze_wrapper .inner_kitchen .row + .row { margin-top: 80px !important; }
.onze_inner_section { padding: 80px 0 40px 0; }
.onze_inner_section h3 { color: var(--black200); margin-bottom: 58px; }
.plan_box .kitchen_blk_title .heading_kitchen_blk h5 { color: var(--black200); }
.plan_box + .plan_box { margin-top: 40px; }
.onze_werkwijze_inner_wrapper { padding: 40px 0 120px 0; }
.onze_werkwijze_inner_wrapper .start_renovation_section { margin: 0; }

/*============ Onze werkwijze style end ============*/

/*============ Onze vernieuwers style start ============*/

.onze_vernieuwers_wrapper .after_banner_sec { padding: 80px 0 40px 0; }
.innovators_section { padding: 40px 0; }
.innovators_section .kitchen_block_wrapper .inner_kitchen .row { flex-direction: row; }
.innovators_section .kitchen_block_wrapper .inner_kitchen .row .left_part { margin-left: auto; margin-right: 0; }
.innovators_section .kitchen_block_wrapper .inner_kitchen .row + .row { margin-top: 80px !important; }
.onze_vernieuwers_inner_wrapper { padding: 40px 0 120px 0; }
.onze_vernieuwers_inner_wrapper .start_renovation_section { margin: 0; }

/*============ Onze vernieuwers style end ============*/

/* Wrappen Page Start */
/* Inner Banner Start */
.inner_banner { width: 100%; position: relative; }
.inner_banner_wrap { width: 100%; position: relative; }
.inner_banner_img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; border-radius: 0 24px 0 24px; background-color: var(--lightwhite); }
.inner_banner_img img { width: 100%; height: 100%; object-fit: cover; }
.inner_banner .container-fluid { max-width: 1470px; padding: 0 15px; }
.inner_banner_txt_wrap { min-height: 440px; display: -ms-flexbox; display: flex; align-items: flex-end; align-content: flex-end; justify-content: center; position: relative; z-index: 2; }
.inner_banner_txt_inner { width: 100%; position: relative; padding: 72px 0; }
.inner_banner_txt_inner .tag_block .tag { padding-top: 11px; padding-bottom: 11px; }
/* Inner Banner End */

.wrappen_wrapper { padding: 102px 0 60px; }
.after_banner_sec { width: 100%; padding: 60px 0; }
.after_banner_inner { width: 100%; position: relative; }
.after_banner_inner h2 { padding: 0 0 30px 0; }
.listing_keuken { width: 100%; position: relative; padding: 80px 0 0 0; }

.keuken_box { background-color: var(--lightwhite); width: 100%; position: relative; border-radius: 24px; padding: 32px 42px 32px 32px; display: -ms-flexbox; display: flex; align-items: center; align-content: center; }
.keuken_box + .keuken_box { margin-top: 24px; }
.keuken_box .keuken_icon { width: 96px; }
.keuken_box .keuken_icon i { width: 100%; height: 96px; background-color: var(--white); border-radius: 50%; display: -ms-flexbox; display: flex; align-items: center; align-content: center; justify-content: center; } 
.keuken_box .keuken_icon i img { width: auto; height: auto; max-width: 42px; max-width: 44px; } 
.keuken_box .keuken_dtl { width: calc(100% - 96px); padding: 0 0 0 32px; }
.keuken_box .keuken_dtl h5 { font-family: 'Museo 700'; font-size: 26px; line-height: 1.19230; padding: 0 0 8px 0; }


.how_we_work_sec { width: 100%; position: relative; padding: 60px 0; }
.how_we_work_inner { width: 100%; position: relative; }
.how_we_work_sec_title { width: 100%; position: relative; padding: 0 0 54px 0; }

.kitchen_blk_title { display: -ms-flexbox; display: flex; align-items: center; align-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; padding: 0 0 23px 0; }
.kitchen_blk_title .kitchen_blk_number { width: 68px; height: 53px; background-color: var(--pink); border-radius: 0 16px 0 16px; display: -ms-flexbox; display: flex; align-items: center; align-content: center; justify-content: center; text-align: center; font-family: 'Museo 700'; font-size: 26px; color: var(--white); margin-right: 18px; }
.kitchen_blk_title .heading_kitchen_blk { width: calc(100% - 68px - 18px); }
.kitchen_blk_title .heading_kitchen_blk h5 { font-family: 'Museo 700'; font-size: 26px; line-height: 1.19230; }


.difference_sec { width: 100%; position: relative; padding: 60px 0; }
.difference_inner { width: 100%; position: relative; }
.difference_title { width: 100%; position: relative; text-align: center; padding: 0 0 35px 0; }
.difference_title_heading {  display: -ms-flexbox; display: flex; align-items: flex-end; justify-content: center; margin: 0 0 24px 0; }
.difference_title_heading h2 { font-size: 42px; }
.difference_title_heading i { width: 99px; display: -ms-flexbox; display: flex; margin: 0 16px 0 0; }
.difference_title_heading i img { width: 100%; height: auto; }

.difference_slider_wrp { width: 100%; max-width: 990px; margin: 0 auto; position: relative; }


.difference_slider { border-radius: 24px; }
.difference_blk .img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: 990px 100%; background-position: left center; background-repeat: no-repeat; }
.difference_blk { position: relative; width: 100%; }
.difference_blk:after { content: ''; display: block; padding: 28.283% 50%; }
.difference_blk .foreground-img { width: 50%; }
.difference_blk .slider { position: absolute; -webkit-appearance: none; appearance: none; width: 100%; height: 100%; background: rgba(242, 242, 242, 0.0); outline: none; margin: 0; transition: all 0.2s; display: flex; justify-content: center; align-items: center; }
.difference_blk .slider:hover { background: rgba(242, 242, 242, 00); }
.difference_blk .slider::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 4px; height: 1000px; background: rgba(255, 255, 255, 0); cursor: pointer; }
.difference_blk .slider::-moz-range-thumb { width: 4px; height: 1000px; background: rgba(255, 255, 255, 0); cursor: pointer; }
.difference_blk .slider-button { pointer-events: none; position: absolute; width: 46px; height: 46px;left: calc(50% - 23px); top: calc(50% - 23px); display: flex; justify-content: center; align-items: center; }
.difference_blk .slider-button img { width: 100%; height: 100%; }
.difference_blk .slider-button::before,
.difference_blk .slider-button:after { content: ''; position: absolute; width: 4px; background-color: var(--white); left: calc(50% - 2px); height: 500px; }
.difference_blk .slider-button:after { top: 100%; }
.difference_blk .slider-button::before { bottom: 100%; }
.swiper_difference_btn { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.swiper_difference_btn a { display: inline-flex; width: 40px; color: var(--blue200); }
.swiper_difference_btn a:hover { color: var(--blue300); }
.swiper_difference_btn a svg { width: 100%; height: auto; }
.swiper_difference_btn.swiper_difference_prev { left: -57px; }
.swiper_difference_btn.swiper_difference_next { right: -57px; }

.filling_tag { position: absolute; top: 40px; padding: 8px 24px; background-color: var(--lightwhite); border-radius: 8px; font-family: 'Montserrat'; font-weight: 500; font-size: 16px; color: var(--blue500); z-index: 5; }
.filling_tag.filling_yes { left: 40px; }
.filling_tag.filling_no { right: 40px; }

.start_renovation_secmain { width: 100%; position: relative; padding: 60px 0; }
.start_renovation_secmain .start_renovation_section { margin-top: 0; margin-bottom: 0; }

.wrappen_wrapper .review_section { margin: 0; padding: 60px 0; }

/* Wrappen Page End */

