*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* ::-webkit-input-placeholder {
  	color: var(--blue500);
}

* :-moz-placeholder {
	opacity: 1;
	color: var(--blue500);
}

* ::-moz-placeholder {
	opacity: 1;
	color: var(--blue500);
}

* :-ms-input-placeholder {
  	color: var(--blue500);
}

html,
body { min-height: 100%; }

html {
	margin: 0;
	padding: 0;
}

:root {

	--pink: #ED76AA;
	--green200: #DAD500;
	--green50: #EDF4D7;
	--green40: #F6F9EB;
	--green100: #A6C739;
	--blue500: #1A1A30;
	--blue400: #404066;
	--blue300: #808099;
	--blue200: #BFBFCB;
	--lightwhite: #F2F2F4;
	--white: #FFFFFF;
	--green300: #9EBD36;
	--black200: #252525;
	--black: #000000;
}

body { margin: 0; padding: 0; font-style: normal; font-family: 'Montserrat'; font-size: 20px; line-height: normal; background: var(--white); color: var(--blue500); }

body.open-nav { overflow: hidden; }

.main_wrapper { position: relative; width: 100%; min-height: 100%; overflow: hidden; }

ol,
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

input,
select,
textarea,
button {
	outline: none;
	box-shadow: none;
	font-family: inherit;
}

input[type="text"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="text"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="text"]::-ms-placeholder,
input[type="search"]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type="email"]::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

a { text-decoration: none; border: 0; outline: none !important; color: inherit; }

a, button, input[type=submit] {
	outline:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus { text-decoration: none; outline: none; }

:focus { outline: none; }

img,
svg,
iframe { max-width: 100%; border: none; outline: none; }

h1 { font-family: 'Museo 700'; font-size: 110px; font-weight: 700; line-height: 1.09; color: var(--white); }
h2 { font-family: 'Museo 500'; font-size: 68px; font-weight: 500; line-height: 1.08; color: var(--black200); }
h3 { font-family: 'Museo 500'; font-size: 42px; font-weight: 500; line-height: 1.19; color: var(--blue500); }

p { font-family: 'Montserrat'; font-size: 16px; font-weight: 500; line-height: 1.5; color: var(--blue500); }

.primary-btn { position: relative; display: flex; height: 50px; padding: 0 32px; font-family: 'Montserrat'; font-weight: 500; font-size: 14px; color: var(--white); align-items: center; background: var(--green100); border-radius: 8px; justify-content: center; line-height: 1.28; }
.primary-btn:hover { background: var(--green300); }

.btnbox { display: flex; position: relative; }

.container { padding: 0 15px; }

@media (min-width: 375px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 576px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
		max-width: 970px;
	}
}
@media (min-width: 1300px) {
	.container {
		width: 100%;
		max-width: 1222px;
	}
}

.row { margin: 0 -10px !important; }
.row > [class^="col-"] { padding: 0 10px !important; }

/*============ Default Css end ============*/

/*============ Homepage style start ============*/

.header { display: block; position: relative; z-index: 999; width: 100%; }
.header .container { max-width: 1230px; }
.home_header .main_header { margin: 16px auto 0 auto; display: flex; align-items: flex-start; justify-content: space-between; }
.main_header { margin: 16px auto; display: flex; align-items: center; justify-content: space-between; }
.home_header .main_header .logo { display: flex; width: 158px; height: 158px; }
.main_header .logo { display: flex; width: 96px; height: 96px; }
.main_header .logo a { display: flex; }
.main_header .logo a img { width: 100%; height: auto; }
.main_header .navi_wrapper { display: flex; align-items: center; margin-top: 26px; margin-bottom: 36px; }
.main_header .navi_wrapper .navigation { display: flex; align-items: center; }
.main_header .navi_wrapper .navigation li { display: block; position: relative; }
.main_header .navi_wrapper .navigation li + li { margin-left: 32px; }
.main_header .navi_wrapper .navigation li a { font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--blue500); display: flex; transition: all 0.3s ease-in-out; }
.main_header .navi_wrapper .navigation li a:hover,
.main_header .navi_wrapper .navigation li.current-menu-item a { color: var(--green100); }
.main_header .navi_wrapper .btnbox { margin-left: 32px; }
.main_header .navi_wrapper .menu-btn { display: none; }


.home_banner { display: block; margin: -46px 0 0 0; position: relative; }
.home_banner .container { max-width: 1470px; }
.home_bnr_wrapper { display: block; position: relative; }
.home_bnr_wrapper .bnr_img { position: relative; display: flex; width: 100%; overflow: hidden; clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 106%); border-radius: 0 40px; }
.home_bnr_wrapper .bnr_img::after { content: ''; display: block; padding: 20.834% 50%; }
.home_bnr_wrapper .bnr_img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.home_bnr_wrapper .bnr_shape { display: flex; position: absolute; right: -54px; bottom: -2px; width: 840px; height: 104px; }
.home_bnr_wrapper .bnr_shape img { width: 100%; height: auto; object-fit: cover; }
.home_bnr_wrapper .bnr_text { max-width: 790px; position: absolute; bottom: 80px; left: 122px; }
.home_bnr_wrapper .bnr_text h1 { margin-bottom: 20px; }
.tag_block { display: flex; }
.tag_block .tag { display: flex; background: var(--pink); border-radius: 0 20px; padding: 10px 20px; font-family: 'Museo 500'; font-size: 42px; font-weight: 500; line-height: 1.19; color: var(--white); }
.home_bnr_wrapper .rate_section { max-width: 124px; position: absolute; top: 76px; right: 160px; display: flex; flex-direction: column; align-items: center; }
.home_bnr_wrapper .rate_section ul { display: flex; margin-bottom: 10px; }
.home_bnr_wrapper .rate_section ul li { display: flex; height: 20px; width: 20px; }
.home_bnr_wrapper .rate_section ul li img { width: 100%; height: auto; }
.home_bnr_wrapper .rate_section ul li + li { margin-left: 5px; }
.home_bnr_wrapper .rate_section i { display: flex; font-style: normal; font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; text-align: center; color: var(--white); }


.maintain_section { display: block; position: relative; margin: 44px 0 0 0; }
.maintain_wrap .maintain_card { position: relative; width: 100%; height: 100%; display: flex; align-items: flex-start; justify-content: center; }
.maintain_wrap .maintain_card .block_inner { position: relative; width: 100%; padding: 50px; text-align: center; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap { display: flex; justify-content: center; align-items: center; width: 120px; height: 120px; margin: 0 auto; background: var(--green40); border-radius: 50%; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon { display: flex; max-width: 50px; }
.maintain_wrap .maintain_card .block_inner .icon_Wrap .icon img { width: 100%; height: auto; }
.maintain_wrap .maintain_card .block_inner .title { margin-top: 24px; display: flex; justify-content: center; font-family: 'Museo 700'; font-size: 26px; font-weight: 700; line-height: 1.23; color: var(--blue500); }
.maintain_wrap .maintain_card .block_inner p { margin-top: 24px; font-family: 'Montserrat'; font-size: 16px; font-weight: 500; line-height: 1.5; color: var(--blue500); }


.home_kitchen_section { display: block; position: relative; margin: 80px 0 0 0; }
.home_inner_kitchen { display: block; position: relative; }
.inner_kitchen { display: block; position: relative; }
.inner_kitchen .left_part { max-width: 586px; margin-left: auto; }
.inner_kitchen .left_part h3 { margin-bottom: 24px; }
.inner_kitchen .left_part p strong { font-weight: 700; display: inline-flex; }
.inner_kitchen .left_part .btnbox { margin-top: 32px; }
.inner_kitchen .right_part { position: relative; display: flex; width: 100%; overflow: hidden; border-radius: 0 24px; }
.inner_kitchen .right_part img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.inner_kitchen .right_part::after { content: ''; display: block; padding: 45.362% 50%; }
.inner_kitchen .row:nth-child(odd) { flex-direction: row-reverse; }
.inner_kitchen .row:nth-child(odd) .left_part { margin-right: auto; margin-left: 0; }
.inner_kitchen .row { align-items: center; }
.inner_kitchen .row + .row { margin-top: 120px !important; }
.inner_kitchen .right_wrapper_part { width: 485px; position: relative; }
.inner_kitchen .right_wrapper_part .row { margin: 0 -12px !important; row-gap: 24px; }
.inner_kitchen .right_wrapper_part .row>* { padding: 0 12px !important; }
.inner_kitchen .right_wrapper_part .person_img { display: block; position: relative; }
.inner_kitchen .right_wrapper_part .person_img .image { display: flex; width: 100%; position: relative; border-radius: 0 24px; overflow: hidden; }
.inner_kitchen .right_wrapper_part .person_img .image::after { content: ''; display: block; padding: 48.592% 50%; }
.inner_kitchen .right_wrapper_part .person_img .image img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.inner_kitchen .right_wrapper_part .person_img .tag_block { position: absolute; right: 16px; bottom: 16px; }
.inner_kitchen .right_wrapper_part .person_img .tag_block .tag { border-radius: 0 10px; padding: 10px 16px; font-family: 'Montserrat'; font-size: 16px; font-weight: 500; line-height: 1.5; }


.start_renovation_section { position: relative; background: var(--green50); border-radius: 24px; padding: 72px 0; margin: 120px 0; }
.start_renovation_section .renovation_content { max-width: 720px; text-align: center; margin: 0 auto; }
.start_renovation_section .renovation_content h3 { margin-bottom: 24px; }
.start_renovation_section .renovation_content p { max-width: 522px; margin: 0 auto; }
.start_renovation_section .renovation_content .btnbox { justify-content: center; margin-top: 32px; }


.home_kitchen_inner_section { display: block; position: relative; }
.kitchen_block_wrapper { display: block; position: relative; }
.kitchen_block_wrapper .inner_kitchen .row { flex-direction: row-reverse; }
.kitchen_block_wrapper .inner_kitchen .row .left_part { margin-left: 0; margin-right: auto; }
.kitchen_block_wrapper .inner_kitchen .row:nth-child(odd) { flex-direction: row; }
.kitchen_block_wrapper .inner_kitchen .row:nth-child(odd) .left_part { margin-right: 0; margin-left: auto; }


.review_section { display: block; position: relative; margin: 120px 0; }
.review_inner_section { position: relative; display: block; }
.review_inner_section h3 { text-align: center; margin-bottom: 40px; }
.review_slider .swiper-slide { max-width: 384px; height: auto; }
.review_slider .swiper-slide + .swiper-slide { margin-left: 20px; }
.review_slider .review_block { transition: all 0.3s ease-in-out; background: var(--lightwhite); border-radius: 24px; border: 1px solid var(--lightwhite); position: relative; width: 100%; height: 100%; display: flex; align-items: flex-start; justify-content: center; }
.review_slider .review_block:hover { border-color: var(--pink); }
.review_slider .review_block .inner_review { position: relative; width: 100%; padding: 44px 40px 40px 40px; height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; }
.review_slider .review_block .inner_review .rate_block { display: flex; align-items: center; margin-bottom: 32px; }
.review_slider .review_block .inner_review .rate_block ul { display: flex; align-items: center; }
.review_slider .review_block .inner_review .rate_block ul li { display: flex; height: 16px; width: 16px; }
.review_slider .review_block .inner_review .rate_block ul li img { width: 100%; height: auto; }
.review_slider .review_block .inner_review .rate_block ul li + li { margin-left: 2px; }
.review_slider .review_block .inner_review .rate_block .rating { display: flex; margin-left: 10px; font-family: 'Montserrat'; font-size: 14px; font-weight: 500; line-height: 1.71; color: var(--black); }
.review_slider .review_block .inner_review .rate_block .rating span { display: inline-flex; }
.review_slider .review_block .inner_review .content { margin-bottom: 72px; position: relative; }
.review_slider .review_block .inner_review .content .title { font-family: 'Museo 500'; font-size: 26px; font-weight: 500; line-height: 1.23; color: var(--blue500); margin-bottom: 40px; }
.review_slider .review_block .inner_review .content .coma { display: flex; margin-left: auto; width: 36px; height: 26px; }
.review_slider .review_block .inner_review .content .coma img { width: 100%; height: auto; }
.review_slider .review_block .inner_review .profile_box { display: flex; align-items: center; margin-top: auto; }
.review_slider .review_block .inner_review .profile_box .profile_img { display: flex; overflow: hidden; border-radius: 50%; height: 48px; width: 48px; }
.review_slider .review_block .inner_review .profile_box .profile_img img { width: 100%; height: auto; }
.review_slider .review_block .inner_review .profile_box .profile_detail { display: flex; flex-direction: column; margin-left: 16px; }
.review_slider .review_block .inner_review .profile_box .profile_detail span { display: flex; font-family: 'Montserrat'; font-size: 16px; font-weight: 700; line-height: 1.5; color: var(--black); text-transform: capitalize; }
.review_slider .review_block .inner_review .profile_box .profile_detail i { display: flex; font-style: normal; font-family: 'Montserrat'; font-size: 16px; font-weight: 400; line-height: 1.5; color: var(--blue300); text-transform: capitalize; }
.review_inner_section .btnbox { justify-content: center; margin-top: 40px; }


.footer { display: block; position: relative; background: var(--blue500); }
.footer_main { padding-top: 58px; }

/*============ Homepage style end ============*/